USE [master]
GO
/****** Objeto: Database [Gestion Usuario] Fecha de script: 29/09/2026 08:02:21 ******/
CREATE DATABASE [Gestion Usuario]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gestion Usuario', FILENAME = N'C:\Users\Usuario\Gestion Usuario.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gestion Usuario_log', FILENAME = N'C:\Users\Usuario\Gestion Usuario_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gestion Usuario].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gestion Usuario]
GO
/****** Objeto: Table [dbo].[Aerolinea] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aerolinea](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Aeropuerto] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aeropuerto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodigoIata] [char](3) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Ciudad] [nvarchar](60) NOT NULL,
	[Pais] [nvarchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Asiento] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asiento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdVuelo] [int] NOT NULL,
	[Fila] [int] NOT NULL,
	[Letra] [char](1) NOT NULL,
	[NumeroAsiento]  AS (CONVERT([nvarchar](3),[Fila])+CONVERT([nvarchar](1),[Letra])) PERSISTED,
	[IdClase] [int] NOT NULL,
	[Ubicacion] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Boleto] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boleto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroBoleto]  AS (N'BOL-'+right(N'000000'+CONVERT([nvarchar](10),[Id]),(6))) PERSISTED,
	[IdReserva] [int] NOT NULL,
	[DniPasajero] [nvarchar](20) NOT NULL,
	[FechaEmision] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[CanalVenta] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CanalVenta](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[CargoExcesoEquipaje] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CargoExcesoEquipaje](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdEquipaje] [int] NOT NULL,
	[KilosExceso] [decimal](7, 2) NOT NULL,
	[CostoPorKilo] [decimal](10, 2) NOT NULL,
	[ImporteCargo] [decimal](12, 2) NOT NULL,
	[IdMedioPago] [int] NOT NULL,
	[NumeroTransaccion] [nvarchar](40) NULL,
	[FechaHoraCobro] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[CheckIn] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckIn](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdReserva] [int] NOT NULL,
	[DniPasajero] [nvarchar](20) NOT NULL,
	[IdEstadoCheckIn] [int] NOT NULL,
	[FechaHoraCheckIn] [datetime2](0) NULL,
	[IdAsiento] [int] NULL,
	[LoginEncargado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ClaseVuelo] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaseVuelo](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Equipaje] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipaje](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCheckIn] [int] NOT NULL,
	[CantidadBultos] [int] NOT NULL,
	[PesoTotalKg] [decimal](7, 2) NOT NULL,
	[FranquiciaKg] [decimal](7, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EstadoCheckIn] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoCheckIn](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EstadoReserva] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoReserva](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EtiquetaEquipaje] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EtiquetaEquipaje](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdEquipaje] [int] NOT NULL,
	[CodigoEquipaje] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EVENTOS] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTOS](
	[Id_Evento] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](250) NOT NULL,
	[Criticidad] [nvarchar](50) NOT NULL,
	[FechaHora] [datetime] NULL,
	[IdModulo] [int] NULL,
	[IdTipoEvento] [int] NULL,
	[Detalle] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Familia] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[FamiliaIntegrada] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaIntegrada](
	[IdFamiliaPadre] [int] NOT NULL,
	[IdFamiliaHija] [int] NOT NULL,
 CONSTRAINT [PK_FamiliaIntegrada] PRIMARY KEY CLUSTERED 
(
	[IdFamiliaPadre] ASC,
	[IdFamiliaHija] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[FamiliaPatente] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaPatente](
	[IdFamilia] [int] NOT NULL,
	[IdPatente] [int] NOT NULL,
 CONSTRAINT [PK_FamiliaPatente] PRIMARY KEY CLUSTERED 
(
	[IdFamilia] ASC,
	[IdPatente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[IntegridadDVH] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IntegridadDVH](
	[NombreTabla] [nvarchar](50) NOT NULL,
	[IdRegistro] [nvarchar](50) NOT NULL,
	[DVH] [nvarchar](64) NOT NULL,
	[FechaCalculo] [datetime] NOT NULL,
 CONSTRAINT [PK_IntegridadDVH] PRIMARY KEY CLUSTERED 
(
	[NombreTabla] ASC,
	[IdRegistro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[IntegridadDVV] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IntegridadDVV](
	[NombreTabla] [nvarchar](50) NOT NULL,
	[DVV] [nvarchar](64) NOT NULL,
	[FechaCalculo] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NombreTabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[MedioPago] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedioPago](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Modulo] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modulo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Pago] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdReserva] [int] NOT NULL,
	[ImporteTotalAbonado] [decimal](12, 2) NOT NULL,
	[IdMedioPago] [int] NOT NULL,
	[NumeroTransaccion] [nvarchar](40) NOT NULL,
	[FechaHoraPago] [datetime2](0) NOT NULL,
	[LoginVendedor] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Pasajero] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pasajero](
	[DNI] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](60) NOT NULL,
	[Apellido] [nvarchar](60) NOT NULL,
	[Email] [nvarchar](500) NOT NULL,
	[Telefono] [nvarchar](30) NOT NULL,
	[FechaAlta] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Patente] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[DataKey] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Reserva] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroReserva]  AS (N'RES-'+right(N'000000'+CONVERT([nvarchar](10),[Id]),(6))) PERSISTED,
	[DniCliente] [nvarchar](20) NOT NULL,
	[IdVuelo] [int] NOT NULL,
	[IdClase] [int] NOT NULL,
	[IdTipoViaje] [int] NOT NULL,
	[FechaRegreso] [date] NULL,
	[CantidadPasajeros] [int] NOT NULL,
	[ImporteBase] [decimal](12, 2) NOT NULL,
	[SubtotalAdicionales] [decimal](12, 2) NOT NULL,
	[Impuestos] [decimal](12, 2) NOT NULL,
	[ImporteTotal] [decimal](12, 2) NOT NULL,
	[IdEstadoReserva] [int] NOT NULL,
	[FechaRealizacion] [datetime2](0) NOT NULL,
	[LoginVendedor] [nvarchar](50) NOT NULL,
	[IdCanalVenta] [int] NOT NULL,
	[FechaCancelacion] [datetime2](0) NULL,
	[MontoPenalidadCancelacion] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ReservaAdicional] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservaAdicional](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdReserva] [int] NOT NULL,
	[IdTipoAdicional] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[CostoUnitario] [decimal](12, 2) NOT NULL,
	[Subtotal]  AS ([Cantidad]*[CostoUnitario]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ReservaPasajero] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservaPasajero](
	[IdReserva] [int] NOT NULL,
	[DniPasajero] [nvarchar](20) NOT NULL,
	[IdAsiento] [int] NULL,
 CONSTRAINT [PK_ReservaPasajero] PRIMARY KEY CLUSTERED 
(
	[IdReserva] ASC,
	[DniPasajero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Roles] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RolFamilia] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolFamilia](
	[IdRol] [int] NOT NULL,
	[IdFamilia] [int] NOT NULL,
 CONSTRAINT [PK_RolFamilia] PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC,
	[IdFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RolPatente] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolPatente](
	[IdRol] [int] NOT NULL,
	[IdPatente] [int] NOT NULL,
 CONSTRAINT [PK_RolPatente] PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC,
	[IdPatente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TarjetaEmbarque] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TarjetaEmbarque](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroTarjeta]  AS (N'TE-'+right(N'000000'+CONVERT([nvarchar](10),[Id]),(6))) PERSISTED,
	[IdCheckIn] [int] NOT NULL,
	[PuertaEmbarque] [nvarchar](10) NOT NULL,
	[HoraLimiteEmbarque] [datetime2](0) NOT NULL,
	[FechaHoraEmision] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TipoAdicional] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoAdicional](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](60) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TipoEvento] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoEvento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TipoViaje] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoViaje](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[DNI] [nvarchar](250) NOT NULL,
	[Apellido] [nvarchar](250) NOT NULL,
	[Nombre] [nvarchar](250) NOT NULL,
	[UserName] [nvarchar](250) NOT NULL,
	[Contrasena] [nvarchar](250) NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[Bloqueo] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
	[IdRol] [int] NOT NULL,
	[IntentosFallidos] [int] NOT NULL,
	[UltimoIntentoFallido] [datetime] NULL,
	[DebeCambiarContrasena] [bit] NOT NULL,
	[Idioma] [nvarchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Vuelo] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vuelo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodigoVuelo] [nvarchar](10) NOT NULL,
	[IdAerolinea] [int] NOT NULL,
	[IdOrigen] [int] NOT NULL,
	[IdDestino] [int] NOT NULL,
	[FechaHoraSalida] [datetime2](0) NOT NULL,
	[FechaHoraLlegada] [datetime2](0) NOT NULL,
	[PuertaEmbarque] [nvarchar](10) NOT NULL,
	[CostoKiloExceso] [decimal](10, 2) NOT NULL,
	[BorradoLogico] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[VueloClase] Fecha de script: 29/09/2026 08:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VueloClase](
	[IdVuelo] [int] NOT NULL,
	[IdClase] [int] NOT NULL,
	[PrecioBase] [decimal](12, 2) NOT NULL,
	[CapacidadAsientos] [int] NOT NULL,
	[AsientosReservados] [int] NOT NULL,
	[FranquiciaEquipajeKg] [decimal](6, 2) NOT NULL,
 CONSTRAINT [PK_VueloClase] PRIMARY KEY CLUSTERED 
(
	[IdVuelo] ASC,
	[IdClase] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Vuelo_C] Bitácora de cambios de Vuelo ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vuelo_C](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdVuelo] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [time](0) NOT NULL,
	[CodigoVuelo] [nvarchar](10) NOT NULL,
	[IdAerolinea] [int] NOT NULL,
	[IdOrigen] [int] NOT NULL,
	[IdDestino] [int] NOT NULL,
	[FechaHoraSalida] [datetime2](0) NOT NULL,
	[FechaHoraLlegada] [datetime2](0) NOT NULL,
	[PuertaEmbarque] [nvarchar](10) NOT NULL,
	[CostoKiloExceso] [decimal](10, 2) NOT NULL,
	[BorradoLogico] [bit] NOT NULL,
	[Act] [bit] NOT NULL,
 CONSTRAINT [PK_Vuelo_C] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Aerolinea] ON 

INSERT [dbo].[Aerolinea] ([Id], [Nombre]) VALUES (1, N'Aerolíneas Argentinas')
INSERT [dbo].[Aerolinea] ([Id], [Nombre]) VALUES (2, N'Flybondi')
INSERT [dbo].[Aerolinea] ([Id], [Nombre]) VALUES (3, N'JetSMART')
SET IDENTITY_INSERT [dbo].[Aerolinea] OFF
GO
SET IDENTITY_INSERT [dbo].[Aeropuerto] ON 

INSERT [dbo].[Aeropuerto] ([Id], [CodigoIata], [Nombre], [Ciudad], [Pais]) VALUES (1, N'AEP', N'Aeroparque Jorge Newbery', N'Buenos Aires', N'Argentina')
INSERT [dbo].[Aeropuerto] ([Id], [CodigoIata], [Nombre], [Ciudad], [Pais]) VALUES (2, N'EZE', N'Aeropuerto Internacional Ezeiza', N'Buenos Aires', N'Argentina')
INSERT [dbo].[Aeropuerto] ([Id], [CodigoIata], [Nombre], [Ciudad], [Pais]) VALUES (3, N'COR', N'Aeropuerto Internacional Pajas Blancas', N'Córdoba', N'Argentina')
SET IDENTITY_INSERT [dbo].[Aeropuerto] OFF
GO
SET IDENTITY_INSERT [dbo].[Asiento] ON 

INSERT [dbo].[Asiento] ([Id], [IdVuelo], [Fila], [Letra], [IdClase], [Ubicacion]) VALUES (1, 1, 1, N'A', 3, N'Ventana')
INSERT [dbo].[Asiento] ([Id], [IdVuelo], [Fila], [Letra], [IdClase], [Ubicacion]) VALUES (2, 1, 2, N'A', 3, N'Ventana')
INSERT [dbo].[Asiento] ([Id], [IdVuelo], [Fila], [Letra], [IdClase], [Ubicacion]) VALUES (3, 1, 3, N'A', 2, N'Ventana')
GO
SET IDENTITY_INSERT [dbo].[Asiento] OFF
GO
SET IDENTITY_INSERT [dbo].[Boleto] ON 

INSERT [dbo].[Boleto] ([Id], [IdReserva], [DniPasajero], [FechaEmision]) VALUES (1, 1, N'47333212', CAST(N'2026-09-29T06:50:20.0000000' AS DateTime2))
INSERT [dbo].[Boleto] ([Id], [IdReserva], [DniPasajero], [FechaEmision]) VALUES (2, 2, N'47333212', CAST(N'2026-09-29T06:58:30.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Boleto] OFF
GO
INSERT [dbo].[CanalVenta] ([Id], [Nombre]) VALUES (2, N'Autogestión')
INSERT [dbo].[CanalVenta] ([Id], [Nombre]) VALUES (1, N'Presencial')
GO
SET IDENTITY_INSERT [dbo].[CheckIn] ON 

INSERT [dbo].[CheckIn] ([Id], [IdReserva], [DniPasajero], [IdEstadoCheckIn], [FechaHoraCheckIn], [IdAsiento], [LoginEncargado]) VALUES (1, 1, N'47333212', 1, NULL, NULL, NULL)
INSERT [dbo].[CheckIn] ([Id], [IdReserva], [DniPasajero], [IdEstadoCheckIn], [FechaHoraCheckIn], [IdAsiento], [LoginEncargado]) VALUES (2, 2, N'47333212', 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CheckIn] OFF
GO
INSERT [dbo].[ClaseVuelo] ([Id], [Nombre]) VALUES (1, N'Económica')
INSERT [dbo].[ClaseVuelo] ([Id], [Nombre]) VALUES (2, N'Ejecutiva')
INSERT [dbo].[ClaseVuelo] ([Id], [Nombre]) VALUES (3, N'Primera clase')
GO
GO
INSERT [dbo].[EstadoCheckIn] ([Id], [Nombre]) VALUES (1, N'Pendiente')
INSERT [dbo].[EstadoCheckIn] ([Id], [Nombre]) VALUES (2, N'Realizado')
GO
INSERT [dbo].[EstadoReserva] ([Id], [Nombre]) VALUES (3, N'Cancelada')
INSERT [dbo].[EstadoReserva] ([Id], [Nombre]) VALUES (2, N'Confirmada')
INSERT [dbo].[EstadoReserva] ([Id], [Nombre]) VALUES (1, N'Pendiente de Pago')
GO
SET IDENTITY_INSERT [dbo].[EVENTOS] ON 

INSERT [dbo].[EVENTOS] ([Id_Evento], [UserName], [Criticidad], [FechaHora], [IdModulo], [IdTipoEvento], [Detalle]) VALUES (2140, N'jeremias544', N'Baja', CAST(N'2026-05-19T10:08:24.127' AS DateTime), 4, 7, NULL)
INSERT [dbo].[EVENTOS] ([Id_Evento], [UserName], [Criticidad], [FechaHora], [IdModulo], [IdTipoEvento], [Detalle]) VALUES (2141, N'jeremias544', N'Baja', CAST(N'2026-05-19T10:09:48.330' AS DateTime), 5, 13, N'Login: lautaro222')
INSERT [dbo].[EVENTOS] ([Id_Evento], [UserName], [Criticidad], [FechaHora], [IdModulo], [IdTipoEvento], [Detalle]) VALUES (2142, N'jeremias544', N'Media', CAST(N'2026-05-19T10:10:06.833' AS DateTime), 5, 10, N'DNI: 12121211')
GO
SET IDENTITY_INSERT [dbo].[EVENTOS] OFF
GO
SET IDENTITY_INSERT [dbo].[Familia] ON 

INSERT [dbo].[Familia] ([Id], [Nombre]) VALUES (16, N'BitacoraGestion')
INSERT [dbo].[Familia] ([Id], [Nombre]) VALUES (3, N'Gestion Usuario')
SET IDENTITY_INSERT [dbo].[Familia] OFF
GO
INSERT [dbo].[FamiliaPatente] ([IdFamilia], [IdPatente]) VALUES (3, 2)
INSERT [dbo].[FamiliaPatente] ([IdFamilia], [IdPatente]) VALUES (3, 3)
INSERT [dbo].[FamiliaPatente] ([IdFamilia], [IdPatente]) VALUES (3, 4)
GO
INSERT [dbo].[IntegridadDVH] ([NombreTabla], [IdRegistro], [DVH], [FechaCalculo]) VALUES (N'Familia', N'16', N'4e5346e89d05582df7dbe88ef8d663b301dc07960694b7b7aefe310b9869de22', CAST(N'2026-09-29T07:56:52.937' AS DateTime))
INSERT [dbo].[IntegridadDVH] ([NombreTabla], [IdRegistro], [DVH], [FechaCalculo]) VALUES (N'Familia', N'3', N'd8826929e5486d21f7da9b48db10398ad2fb7a71b22601872660a37af958989d', CAST(N'2026-09-29T07:56:52.940' AS DateTime))
INSERT [dbo].[IntegridadDVH] ([NombreTabla], [IdRegistro], [DVH], [FechaCalculo]) VALUES (N'FamiliaPatente', N'16_6', N'4dc07ef37dbcb23aa59e74a537750e96f3aa2374d6b53150a2a17eb7ee35c1d1', CAST(N'2026-09-29T07:56:53.013' AS DateTime))
GO
INSERT [dbo].[IntegridadDVV] ([NombreTabla], [DVV], [FechaCalculo]) VALUES (N'Familia', N'535905bc78b22a746c9811b436893c4cc7633f7c90d0fa4377d5a445e60e974f', CAST(N'2026-09-29T07:56:52.947' AS DateTime))
INSERT [dbo].[IntegridadDVV] ([NombreTabla], [DVV], [FechaCalculo]) VALUES (N'FamiliaIntegrada', N'e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855', CAST(N'2026-09-29T07:56:53.030' AS DateTime))
INSERT [dbo].[IntegridadDVV] ([NombreTabla], [DVV], [FechaCalculo]) VALUES (N'FamiliaPatente', N'55cca2e008f5731151257e43ee3670eee21aecc76bff94096ac81c480928a564', CAST(N'2026-09-29T07:56:53.020' AS DateTime))
GO
INSERT [dbo].[MedioPago] ([Id], [Nombre]) VALUES (4, N'Efectivo')
INSERT [dbo].[MedioPago] ([Id], [Nombre]) VALUES (2, N'Tarjeta de crédito')
INSERT [dbo].[MedioPago] ([Id], [Nombre]) VALUES (1, N'Tarjeta de débito')
GO
SET IDENTITY_INSERT [dbo].[Modulo] ON 

INSERT [dbo].[Modulo] ([Id], [Nombre]) VALUES (5, N'Admin')
INSERT [dbo].[Modulo] ([Id], [Nombre]) VALUES (7, N'CheckIn')
INSERT [dbo].[Modulo] ([Id], [Nombre]) VALUES (6, N'Reservas')
SET IDENTITY_INSERT [dbo].[Modulo] OFF
GO
SET IDENTITY_INSERT [dbo].[Pago] ON 

INSERT [dbo].[Pago] ([Id], [IdReserva], [ImporteTotalAbonado], [IdMedioPago], [NumeroTransaccion], [FechaHoraPago], [LoginVendedor]) VALUES (1, 1, CAST(253132.00 AS Decimal(12, 2)), 3, N'0001', CAST(N'2026-09-29T06:50:20.0000000' AS DateTime2), N'lautaro212')
INSERT [dbo].[Pago] ([Id], [IdReserva], [ImporteTotalAbonado], [IdMedioPago], [NumeroTransaccion], [FechaHoraPago], [LoginVendedor]) VALUES (2, 2, CAST(402446.00 AS Decimal(12, 2)), 1, N'0002', CAST(N'2026-09-29T06:58:30.0000000' AS DateTime2), N'lautaro212')
SET IDENTITY_INSERT [dbo].[Pago] OFF
GO
INSERT [dbo].[Pasajero] ([DNI], [Nombre], [Apellido], [Email], [Telefono], [FechaAlta]) VALUES (N'47333212', N'lautaro', N'vergara', N'B1Kfkv6j+9/yWXidUj5So4zGuizGyQfjLKSwOhJqBhU=', N'1153898209', CAST(N'2026-09-29T06:48:19.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Patente] ON 

INSERT [dbo].[Patente] ([Id], [Nombre], [DataKey]) VALUES (1, N'Gestión Usuarios - Ver', N'Usuarios.Ver')
INSERT [dbo].[Patente] ([Id], [Nombre], [DataKey]) VALUES (2, N'Gestión Usuarios - Crear', N'Usuarios.Crear')
INSERT [dbo].[Patente] ([Id], [Nombre], [DataKey]) VALUES (3, N'Gestión Usuarios - Modificar', N'Usuarios.Modificar')
SET IDENTITY_INSERT [dbo].[Patente] OFF
GO
SET IDENTITY_INSERT [dbo].[Reserva] ON 

INSERT [dbo].[Reserva] ([Id], [DniCliente], [IdVuelo], [IdClase], [IdTipoViaje], [FechaRegreso], [CantidadPasajeros], [ImporteBase], [SubtotalAdicionales], [Impuestos], [ImporteTotal], [IdEstadoReserva], [FechaRealizacion], [LoginVendedor], [IdCanalVenta], [FechaCancelacion], [MontoPenalidadCancelacion]) VALUES (1, N'47333212', 1, 2, 1, NULL, 1, CAST(209000.00 AS Decimal(12, 2)), CAST(200.00 AS Decimal(12, 2)), CAST(43932.00 AS Decimal(12, 2)), CAST(253132.00 AS Decimal(12, 2)), 2, CAST(N'2026-09-29T06:49:51.0000000' AS DateTime2), N'lautaro212', 1, NULL, NULL)
INSERT [dbo].[Reserva] ([Id], [DniCliente], [IdVuelo], [IdClase], [IdTipoViaje], [FechaRegreso], [CantidadPasajeros], [ImporteBase], [SubtotalAdicionales], [Impuestos], [ImporteTotal], [IdEstadoReserva], [FechaRealizacion], [LoginVendedor], [IdCanalVenta], [FechaCancelacion], [MontoPenalidadCancelacion]) VALUES (2, N'47333212', 1, 3, 1, NULL, 1, CAST(332500.00 AS Decimal(12, 2)), CAST(100.00 AS Decimal(12, 2)), CAST(69846.00 AS Decimal(12, 2)), CAST(402446.00 AS Decimal(12, 2)), 2, CAST(N'2026-09-29T06:58:12.0000000' AS DateTime2), N'lautaro212', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Reserva] OFF
GO
SET IDENTITY_INSERT [dbo].[ReservaAdicional] ON 

INSERT [dbo].[ReservaAdicional] ([Id], [IdReserva], [IdTipoAdicional], [Cantidad], [CostoUnitario]) VALUES (1, 1, 2, 1, CAST(100.00 AS Decimal(12, 2)))
INSERT [dbo].[ReservaAdicional] ([Id], [IdReserva], [IdTipoAdicional], [Cantidad], [CostoUnitario]) VALUES (2, 1, 1, 1, CAST(100.00 AS Decimal(12, 2)))
INSERT [dbo].[ReservaAdicional] ([Id], [IdReserva], [IdTipoAdicional], [Cantidad], [CostoUnitario]) VALUES (3, 2, 4, 1, CAST(100.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[ReservaAdicional] OFF
GO
INSERT [dbo].[ReservaPasajero] ([IdReserva], [DniPasajero], [IdAsiento]) VALUES (1, N'47333212', 103)
INSERT [dbo].[ReservaPasajero] ([IdReserva], [DniPasajero], [IdAsiento]) VALUES (2, N'47333212', 101)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Nombre]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([Id], [Nombre]) VALUES (10, N'AdminGestionUsuario')
INSERT [dbo].[Roles] ([Id], [Nombre]) VALUES (27, N'Client')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[RolFamilia] ([IdRol], [IdFamilia]) VALUES (16, 16)
GO
INSERT [dbo].[RolPatente] ([IdRol], [IdPatente]) VALUES (1, 1)
INSERT [dbo].[RolPatente] ([IdRol], [IdPatente]) VALUES (1, 2)
INSERT [dbo].[RolPatente] ([IdRol], [IdPatente]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[TipoAdicional] ON 

INSERT [dbo].[TipoAdicional] ([Id], [Nombre], [Activo]) VALUES (1, N'Equipaje extra', 1)
INSERT [dbo].[TipoAdicional] ([Id], [Nombre], [Activo]) VALUES (2, N'Asiento preferencial', 1)
INSERT [dbo].[TipoAdicional] ([Id], [Nombre], [Activo]) VALUES (3, N'Comida especial', 1)
SET IDENTITY_INSERT [dbo].[TipoAdicional] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoEvento] ON 

INSERT [dbo].[TipoEvento] ([Id], [Nombre]) VALUES (30, N'Asiento asignado')
INSERT [dbo].[TipoEvento] ([Id], [Nombre]) VALUES (34, N'Asiento seleccionado')
INSERT [dbo].[TipoEvento] ([Id], [Nombre]) VALUES (24, N'Backup automatico generado')
SET IDENTITY_INSERT [dbo].[TipoEvento] OFF
GO
INSERT [dbo].[TipoViaje] ([Id], [Nombre]) VALUES (1, N'Ida')
INSERT [dbo].[TipoViaje] ([Id], [Nombre]) VALUES (2, N'Ida y Vuelta')
GO
INSERT [dbo].[Usuario] ([DNI], [Apellido], [Nombre], [UserName], [Contrasena], [Email], [Bloqueo], [Activo], [IdRol], [IntentosFallidos], [UltimoIntentoFallido], [DebeCambiarContrasena], [Idioma]) VALUES (N'00000000', N'Lopez', N'Lautaro', N'lautaro000', N'd1b5221346aaccbc711c6c5f21156459b15098047a0d2d62d20840a8dab498c4', N'w2/FSHutnIDUW/QcmhZKbQ==', 0, 1, 27, 0, NULL, 0, N'es')
INSERT [dbo].[Usuario] ([DNI], [Apellido], [Nombre], [UserName], [Contrasena], [Email], [Bloqueo], [Activo], [IdRol], [IntentosFallidos], [UltimoIntentoFallido], [DebeCambiarContrasena], [Idioma]) VALUES (N'11111116', N'Vergara', N'Alejo', N'alejo116', N'1d67ce4964b0bab4066ed684541c91238aa92197e280718038405b7899064db4', N'P+bKpZYuSEhtmCSOfqj/p9WfACx4SyVzqo5+OdKF6EI=', 0, 1, 1, 0, NULL, 0, N'es')
INSERT [dbo].[Usuario] ([DNI], [Apellido], [Nombre], [UserName], [Contrasena], [Email], [Bloqueo], [Activo], [IdRol], [IntentosFallidos], [UltimoIntentoFallido], [DebeCambiarContrasena], [Idioma]) VALUES (N'12121211', N'Gomez', N'pepe', N'pepe211', N'163d91856700395350a27f141986935e70df70015307eae44853558301db7a89', N'Yo5pmztsqhu13ineCpalcdVf/RSpoJzSyj0NSDJO8/g=', 0, 1, 10, 0, NULL, 0, N'es')
GO
SET IDENTITY_INSERT [dbo].[Vuelo] ON 

INSERT [dbo].[Vuelo] ([Id], [CodigoVuelo], [IdAerolinea], [IdOrigen], [IdDestino], [FechaHoraSalida], [FechaHoraLlegada], [PuertaEmbarque], [CostoKiloExceso], [BorradoLogico]) VALUES (1, N'AR1500', 1, 1, 3, CAST(N'2026-09-29T10:30:00.0000000' AS DateTime2), CAST(N'2026-09-29T11:50:00.0000000' AS DateTime2), N'A4', CAST(3500.00 AS Decimal(10, 2)), 0)
INSERT [dbo].[Vuelo] ([Id], [CodigoVuelo], [IdAerolinea], [IdOrigen], [IdDestino], [FechaHoraSalida], [FechaHoraLlegada], [PuertaEmbarque], [CostoKiloExceso], [BorradoLogico]) VALUES (2, N'AR1502', 1, 1, 3, CAST(N'2026-09-29T18:00:00.0000000' AS DateTime2), CAST(N'2026-09-29T19:20:00.0000000' AS DateTime2), N'A6', CAST(3500.00 AS Decimal(10, 2)), 0)
INSERT [dbo].[Vuelo] ([Id], [CodigoVuelo], [IdAerolinea], [IdOrigen], [IdDestino], [FechaHoraSalida], [FechaHoraLlegada], [PuertaEmbarque], [CostoKiloExceso], [BorradoLogico]) VALUES (3, N'FB3020', 2, 1, 4, CAST(N'2026-10-01T07:15:00.0000000' AS DateTime2), CAST(N'2026-10-01T09:10:00.0000000' AS DateTime2), N'B2', CAST(3000.00 AS Decimal(10, 2)), 0)
SET IDENTITY_INSERT [dbo].[Vuelo] OFF
GO
INSERT [dbo].[VueloClase] ([IdVuelo], [IdClase], [PrecioBase], [CapacidadAsientos], [AsientosReservados], [FranquiciaEquipajeKg]) VALUES (1, 1, CAST(95000.00 AS Decimal(12, 2)), 84, 0, CAST(15.00 AS Decimal(6, 2)))
INSERT [dbo].[VueloClase] ([IdVuelo], [IdClase], [PrecioBase], [CapacidadAsientos], [AsientosReservados], [FranquiciaEquipajeKg]) VALUES (1, 2, CAST(209000.00 AS Decimal(12, 2)), 24, 1, CAST(23.00 AS Decimal(6, 2)))
INSERT [dbo].[VueloClase] ([IdVuelo], [IdClase], [PrecioBase], [CapacidadAsientos], [AsientosReservados], [FranquiciaEquipajeKg]) VALUES (1, 3, CAST(332500.00 AS Decimal(12, 2)), 12, 1, CAST(32.00 AS Decimal(6, 2)))
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Aeroline__75E3EFCF0F07AD45] Fecha de script: 29/09/2026 08:02:22 ******/
ALTER TABLE [dbo].[Aerolinea] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Aeropuer__D00F17F654C742E5] Fecha de script: 29/09/2026 08:02:22 ******/
ALTER TABLE [dbo].[Aeropuerto] ADD UNIQUE NONCLUSTERED 
(
	[CodigoIata] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Asiento_Vuelo_Numero] Fecha de script: 29/09/2026 08:02:22 ******/
ALTER TABLE [dbo].[Asiento] ADD  CONSTRAINT [UQ_Asiento_Vuelo_Numero] UNIQUE NONCLUSTERED 
(
	[IdVuelo] ASC,
	[Fila] ASC,
	[Letra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Boleto_Numero] Fecha de script: 29/09/2026 08:02:22 ******/
ALTER TABLE [dbo].[Boleto] ADD  CONSTRAINT [UQ_Boleto_Numero] UNIQUE NONCLUSTERED 
(
	[NumeroBoleto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Boleto_Pasajero] Fecha de script: 29/09/2026 08:02:22 ******/
ALTER TABLE [dbo].[Boleto] ADD  CONSTRAINT [UQ_Boleto_Pasajero] UNIQUE NONCLUSTERED 
(
	[IdReserva] ASC,
	[DniPasajero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__CanalVen__75E3EFCF08259E1D] Fecha de script: 29/09/2026 08:02:22 ******/
ALTER TABLE [dbo].[CanalVenta] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_Cargo_Equipaje] Fecha de script: 29/09/2026 08:02:22 ******/
ALTER TABLE [dbo].[CargoExcesoEquipaje] ADD  CONSTRAINT [UQ_Cargo_Equipaje] UNIQUE NONCLUSTERED 
(
	[IdEquipaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_CheckIn_Pasajero] Fecha de script: 29/09/2026 08:02:22 ******/
ALTER TABLE [dbo].[CheckIn] ADD  CONSTRAINT [UQ_CheckIn_Pasajero] UNIQUE NONCLUSTERED 
(
	[IdReserva] ASC,
	[DniPasajero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UX_CheckIn_Asiento] Fecha de script: 29/09/2026 08:02:22 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_CheckIn_Asiento] ON [dbo].[CheckIn]
(
	[IdAsiento] ASC
)
WHERE ([IdAsiento] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__ClaseVue__75E3EFCF8E97FE37] Fecha de script: 29/09/2026 08:02:22 ******/
ALTER TABLE [dbo].[ClaseVuelo] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_Equipaje_CheckIn] Fecha de script: 29/09/2026 08:02:22 ******/
ALTER TABLE [dbo].[Equipaje] ADD  CONSTRAINT [UQ_Equipaje_CheckIn] UNIQUE NONCLUSTERED 
(
	[IdCheckIn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__EstadoCh__75E3EFCF51EA6BCD] Fecha de script: 29/09/2026 08:02:22 ******/
ALTER TABLE [dbo].[EstadoCheckIn] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__EstadoRe__75E3EFCFE0DB42F3] Fecha de script: 29/09/2026 08:02:22 ******/
ALTER TABLE [dbo].[EstadoReserva] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Etiqueta_Codigo] Fecha de script: 29/09/2026 08:02:22 ******/
ALTER TABLE [dbo].[EtiquetaEquipaje] ADD  CONSTRAINT [UQ_Etiqueta_Codigo] UNIQUE NONCLUSTERED 
(
	[CodigoEquipaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Familia__75E3EFCFCB4C7743] Fecha de script: 29/09/2026 08:02:22 ******/
ALTER TABLE [dbo].[Familia] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__MedioPag__75E3EFCF2A84DEC7] Fecha de script: 29/09/2026 08:02:22 ******/
ALTER TABLE [dbo].[MedioPago] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Modulo__75E3EFCFD90CD761] Fecha de script: 29/09/2026 08:02:22 ******/
ALTER TABLE [dbo].[Modulo] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_Pago_Reserva] Fecha de script: 29/09/2026 08:02:22 ******/
ALTER TABLE [dbo].[Pago] ADD  CONSTRAINT [UQ_Pago_Reserva] UNIQUE NONCLUSTERED 
(
	[IdReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Pago_Transaccion] Fecha de script: 29/09/2026 08:02:22 ******/
ALTER TABLE [dbo].[Pago] ADD  CONSTRAINT [UQ_Pago_Transaccion] UNIQUE NONCLUSTERED 
(
	[NumeroTransaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Patente__6A1C4B2FB3D7E365] Fecha de script: 29/09/2026 08:02:22 ******/
ALTER TABLE [dbo].[Patente] ADD UNIQUE NONCLUSTERED 
(
	[DataKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Patente__75E3EFCF1C160AB9] Fecha de script: 29/09/2026 08:02:22 ******/
ALTER TABLE [dbo].[Patente] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Reserva_Numero] Fecha de script: 29/09/2026 08:02:22 ******/
ALTER TABLE [dbo].[Reserva] ADD  CONSTRAINT [UQ_Reserva_Numero] UNIQUE NONCLUSTERED 
(
	[NumeroReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UX_ReservaPasajero_Asiento] Fecha de script: 29/09/2026 08:02:22 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_ReservaPasajero_Asiento] ON [dbo].[ReservaPasajero]
(
	[IdAsiento] ASC
)
WHERE ([IdAsiento] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Roles__75E3EFCF6E44373F] Fecha de script: 29/09/2026 08:02:22 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_Tarjeta_CheckIn] Fecha de script: 29/09/2026 08:02:22 ******/
ALTER TABLE [dbo].[TarjetaEmbarque] ADD  CONSTRAINT [UQ_Tarjeta_CheckIn] UNIQUE NONCLUSTERED 
(
	[IdCheckIn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Tarjeta_Numero] Fecha de script: 29/09/2026 08:02:22 ******/
ALTER TABLE [dbo].[TarjetaEmbarque] ADD  CONSTRAINT [UQ_Tarjeta_Numero] UNIQUE NONCLUSTERED 
(
	[NumeroTarjeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__TipoAdic__75E3EFCF096B8E8E] Fecha de script: 29/09/2026 08:02:22 ******/
ALTER TABLE [dbo].[TipoAdicional] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__TipoEven__75E3EFCFC80AFEF3] Fecha de script: 29/09/2026 08:02:22 ******/
ALTER TABLE [dbo].[TipoEvento] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__TipoViaj__75E3EFCFB1B50D67] Fecha de script: 29/09/2026 08:02:22 ******/
ALTER TABLE [dbo].[TipoViaje] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_UserName] Fecha de script: 29/09/2026 08:02:22 ******/
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [UQ_UserName] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Vuelo__76E0A7D336A40436] Fecha de script: 29/09/2026 08:02:22 ******/
ALTER TABLE [dbo].[Vuelo] ADD UNIQUE NONCLUSTERED 
(
	[CodigoVuelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Vuelo_Busqueda] Fecha de script: 29/09/2026 08:02:22 ******/
CREATE NONCLUSTERED INDEX [IX_Vuelo_Busqueda] ON [dbo].[Vuelo]
(
	[IdOrigen] ASC,
	[IdDestino] ASC,
	[FechaHoraSalida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Boleto] ADD  CONSTRAINT [DF_Boleto_Fecha]  DEFAULT (getdate()) FOR [FechaEmision]
GO
ALTER TABLE [dbo].[CargoExcesoEquipaje] ADD  CONSTRAINT [DF_Cargo_Fecha]  DEFAULT (getdate()) FOR [FechaHoraCobro]
GO
ALTER TABLE [dbo].[CheckIn] ADD  CONSTRAINT [DF_CheckIn_Estado]  DEFAULT ((1)) FOR [IdEstadoCheckIn]
GO
ALTER TABLE [dbo].[Pasajero] ADD  CONSTRAINT [DF_Pasajero_FechaAlta]  DEFAULT (getdate()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[EVENTOS] ADD  DEFAULT (getdate()) FOR [FechaHora]
GO
ALTER TABLE [dbo].[IntegridadDVH] ADD  DEFAULT (getdate()) FOR [FechaCalculo]
GO
ALTER TABLE [dbo].[IntegridadDVV] ADD  DEFAULT (getdate()) FOR [FechaCalculo]
GO
ALTER TABLE [dbo].[Pago] ADD  CONSTRAINT [DF_Pago_Fecha]  DEFAULT (getdate()) FOR [FechaHoraPago]
GO
ALTER TABLE [dbo].[Reserva] ADD  CONSTRAINT [DF_Reserva_Subtotal]  DEFAULT ((0)) FOR [SubtotalAdicionales]
GO
ALTER TABLE [dbo].[Reserva] ADD  CONSTRAINT [DF_Reserva_Estado]  DEFAULT ((1)) FOR [IdEstadoReserva]
GO
ALTER TABLE [dbo].[Reserva] ADD  CONSTRAINT [DF_Reserva_Fecha]  DEFAULT (getdate()) FOR [FechaRealizacion]
GO
ALTER TABLE [dbo].[Reserva] ADD  CONSTRAINT [DF_Reserva_Canal]  DEFAULT ((1)) FOR [IdCanalVenta]
GO
ALTER TABLE [dbo].[TarjetaEmbarque] ADD  CONSTRAINT [DF_Tarjeta_Fecha]  DEFAULT (getdate()) FOR [FechaHoraEmision]
GO
ALTER TABLE [dbo].[TipoAdicional] ADD  CONSTRAINT [DF_TipoAdicional_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [Bloqueo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [IntentosFallidos]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [DebeCambiarContrasena]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ('es') FOR [Idioma]
GO
ALTER TABLE [dbo].[VueloClase] ADD  CONSTRAINT [DF_VueloClase_Reservados]  DEFAULT ((0)) FOR [AsientosReservados]
GO
ALTER TABLE [dbo].[Asiento]  WITH CHECK ADD  CONSTRAINT [FK_Asiento_Clase] FOREIGN KEY([IdClase])
REFERENCES [dbo].[ClaseVuelo] ([Id])
GO
ALTER TABLE [dbo].[Asiento] CHECK CONSTRAINT [FK_Asiento_Clase]
GO
ALTER TABLE [dbo].[Asiento]  WITH CHECK ADD  CONSTRAINT [FK_Asiento_Vuelo] FOREIGN KEY([IdVuelo])
REFERENCES [dbo].[Vuelo] ([Id])
GO
ALTER TABLE [dbo].[Asiento] CHECK CONSTRAINT [FK_Asiento_Vuelo]
GO
ALTER TABLE [dbo].[Boleto]  WITH CHECK ADD  CONSTRAINT [FK_Boleto_ReservaPasajero] FOREIGN KEY([IdReserva], [DniPasajero])
REFERENCES [dbo].[ReservaPasajero] ([IdReserva], [DniPasajero])
GO
ALTER TABLE [dbo].[Boleto] CHECK CONSTRAINT [FK_Boleto_ReservaPasajero]
GO
ALTER TABLE [dbo].[CargoExcesoEquipaje]  WITH CHECK ADD  CONSTRAINT [FK_Cargo_Equipaje] FOREIGN KEY([IdEquipaje])
REFERENCES [dbo].[Equipaje] ([Id])
GO
ALTER TABLE [dbo].[CargoExcesoEquipaje] CHECK CONSTRAINT [FK_Cargo_Equipaje]
GO
ALTER TABLE [dbo].[CargoExcesoEquipaje]  WITH CHECK ADD  CONSTRAINT [FK_Cargo_Medio] FOREIGN KEY([IdMedioPago])
REFERENCES [dbo].[MedioPago] ([Id])
GO
ALTER TABLE [dbo].[CargoExcesoEquipaje] CHECK CONSTRAINT [FK_Cargo_Medio]
GO
ALTER TABLE [dbo].[CheckIn]  WITH CHECK ADD  CONSTRAINT [FK_CheckIn_Asiento] FOREIGN KEY([IdAsiento])
REFERENCES [dbo].[Asiento] ([Id])
GO
ALTER TABLE [dbo].[CheckIn] CHECK CONSTRAINT [FK_CheckIn_Asiento]
GO
ALTER TABLE [dbo].[CheckIn]  WITH CHECK ADD  CONSTRAINT [FK_CheckIn_Estado] FOREIGN KEY([IdEstadoCheckIn])
REFERENCES [dbo].[EstadoCheckIn] ([Id])
GO
ALTER TABLE [dbo].[CheckIn] CHECK CONSTRAINT [FK_CheckIn_Estado]
GO
ALTER TABLE [dbo].[CheckIn]  WITH CHECK ADD  CONSTRAINT [FK_CheckIn_ReservaPasajero] FOREIGN KEY([IdReserva], [DniPasajero])
REFERENCES [dbo].[ReservaPasajero] ([IdReserva], [DniPasajero])
GO
ALTER TABLE [dbo].[CheckIn] CHECK CONSTRAINT [FK_CheckIn_ReservaPasajero]
GO
ALTER TABLE [dbo].[Equipaje]  WITH CHECK ADD  CONSTRAINT [FK_Equipaje_CheckIn] FOREIGN KEY([IdCheckIn])
REFERENCES [dbo].[CheckIn] ([Id])
GO
ALTER TABLE [dbo].[Equipaje] CHECK CONSTRAINT [FK_Equipaje_CheckIn]
GO
ALTER TABLE [dbo].[EtiquetaEquipaje]  WITH CHECK ADD  CONSTRAINT [FK_Etiqueta_Equipaje] FOREIGN KEY([IdEquipaje])
REFERENCES [dbo].[Equipaje] ([Id])
GO
ALTER TABLE [dbo].[EtiquetaEquipaje] CHECK CONSTRAINT [FK_Etiqueta_Equipaje]
GO
ALTER TABLE [dbo].[EVENTOS]  WITH CHECK ADD  CONSTRAINT [FK_Eventos_Modulo] FOREIGN KEY([IdModulo])
REFERENCES [dbo].[Modulo] ([Id])
GO
ALTER TABLE [dbo].[EVENTOS] CHECK CONSTRAINT [FK_Eventos_Modulo]
GO
ALTER TABLE [dbo].[EVENTOS]  WITH CHECK ADD  CONSTRAINT [FK_Eventos_TipoEvento] FOREIGN KEY([IdTipoEvento])
REFERENCES [dbo].[TipoEvento] ([Id])
GO
ALTER TABLE [dbo].[EVENTOS] CHECK CONSTRAINT [FK_Eventos_TipoEvento]
GO
ALTER TABLE [dbo].[EVENTOS]  WITH CHECK ADD  CONSTRAINT [FK_Eventos_Usuario] FOREIGN KEY([UserName])
REFERENCES [dbo].[Usuario] ([UserName])
GO
ALTER TABLE [dbo].[EVENTOS] CHECK CONSTRAINT [FK_Eventos_Usuario]
GO
ALTER TABLE [dbo].[FamiliaIntegrada]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaIntegrada_Hija] FOREIGN KEY([IdFamiliaHija])
REFERENCES [dbo].[Familia] ([Id])
GO
ALTER TABLE [dbo].[FamiliaIntegrada] CHECK CONSTRAINT [FK_FamiliaIntegrada_Hija]
GO
ALTER TABLE [dbo].[FamiliaIntegrada]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaIntegrada_Padre] FOREIGN KEY([IdFamiliaPadre])
REFERENCES [dbo].[Familia] ([Id])
GO
ALTER TABLE [dbo].[FamiliaIntegrada] CHECK CONSTRAINT [FK_FamiliaIntegrada_Padre]
GO
ALTER TABLE [dbo].[FamiliaPatente]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaPatente_Familia] FOREIGN KEY([IdFamilia])
REFERENCES [dbo].[Familia] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FamiliaPatente] CHECK CONSTRAINT [FK_FamiliaPatente_Familia]
GO
ALTER TABLE [dbo].[FamiliaPatente]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaPatente_Patente] FOREIGN KEY([IdPatente])
REFERENCES [dbo].[Patente] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FamiliaPatente] CHECK CONSTRAINT [FK_FamiliaPatente_Patente]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Medio] FOREIGN KEY([IdMedioPago])
REFERENCES [dbo].[MedioPago] ([Id])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_Medio]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Reserva] FOREIGN KEY([IdReserva])
REFERENCES [dbo].[Reserva] ([Id])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_Reserva]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_CanalVenta] FOREIGN KEY([IdCanalVenta])
REFERENCES [dbo].[CanalVenta] ([Id])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_CanalVenta]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Pasajero] FOREIGN KEY([DniCliente])
REFERENCES [dbo].[Pasajero] ([DNI])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Pasajero]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Estado] FOREIGN KEY([IdEstadoReserva])
REFERENCES [dbo].[EstadoReserva] ([Id])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Estado]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_TipoViaje] FOREIGN KEY([IdTipoViaje])
REFERENCES [dbo].[TipoViaje] ([Id])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_TipoViaje]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_VueloClase] FOREIGN KEY([IdVuelo], [IdClase])
REFERENCES [dbo].[VueloClase] ([IdVuelo], [IdClase])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_VueloClase]
GO
ALTER TABLE [dbo].[ReservaAdicional]  WITH CHECK ADD  CONSTRAINT [FK_ReservaAdicional_Reserva] FOREIGN KEY([IdReserva])
REFERENCES [dbo].[Reserva] ([Id])
GO
ALTER TABLE [dbo].[ReservaAdicional] CHECK CONSTRAINT [FK_ReservaAdicional_Reserva]
GO
ALTER TABLE [dbo].[ReservaAdicional]  WITH CHECK ADD  CONSTRAINT [FK_ReservaAdicional_Tipo] FOREIGN KEY([IdTipoAdicional])
REFERENCES [dbo].[TipoAdicional] ([Id])
GO
ALTER TABLE [dbo].[ReservaAdicional] CHECK CONSTRAINT [FK_ReservaAdicional_Tipo]
GO
ALTER TABLE [dbo].[ReservaPasajero]  WITH CHECK ADD  CONSTRAINT [FK_ReservaPasajero_Asiento] FOREIGN KEY([IdAsiento])
REFERENCES [dbo].[Asiento] ([Id])
GO
ALTER TABLE [dbo].[ReservaPasajero] CHECK CONSTRAINT [FK_ReservaPasajero_Asiento]
GO
ALTER TABLE [dbo].[ReservaPasajero]  WITH CHECK ADD  CONSTRAINT [FK_ReservaPasajero_Pasajero] FOREIGN KEY([DniPasajero])
REFERENCES [dbo].[Pasajero] ([DNI])
GO
ALTER TABLE [dbo].[ReservaPasajero] CHECK CONSTRAINT [FK_ReservaPasajero_Pasajero]
GO
ALTER TABLE [dbo].[ReservaPasajero]  WITH CHECK ADD  CONSTRAINT [FK_ReservaPasajero_Reserva] FOREIGN KEY([IdReserva])
REFERENCES [dbo].[Reserva] ([Id])
GO
ALTER TABLE [dbo].[ReservaPasajero] CHECK CONSTRAINT [FK_ReservaPasajero_Reserva]
GO
ALTER TABLE [dbo].[RolFamilia]  WITH CHECK ADD  CONSTRAINT [FK_RolFamilia_Familia] FOREIGN KEY([IdFamilia])
REFERENCES [dbo].[Familia] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolFamilia] CHECK CONSTRAINT [FK_RolFamilia_Familia]
GO
ALTER TABLE [dbo].[RolFamilia]  WITH CHECK ADD  CONSTRAINT [FK_RolFamilia_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolFamilia] CHECK CONSTRAINT [FK_RolFamilia_Rol]
GO
ALTER TABLE [dbo].[RolPatente]  WITH CHECK ADD  CONSTRAINT [FK_RolPatente_Patente] FOREIGN KEY([IdPatente])
REFERENCES [dbo].[Patente] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolPatente] CHECK CONSTRAINT [FK_RolPatente_Patente]
GO
ALTER TABLE [dbo].[RolPatente]  WITH CHECK ADD  CONSTRAINT [FK_RolPatente_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolPatente] CHECK CONSTRAINT [FK_RolPatente_Rol]
GO
ALTER TABLE [dbo].[TarjetaEmbarque]  WITH CHECK ADD  CONSTRAINT [FK_Tarjeta_CheckIn] FOREIGN KEY([IdCheckIn])
REFERENCES [dbo].[CheckIn] ([Id])
GO
ALTER TABLE [dbo].[TarjetaEmbarque] CHECK CONSTRAINT [FK_Tarjeta_CheckIn]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Roles] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Roles]
GO
ALTER TABLE [dbo].[Vuelo]  WITH CHECK ADD  CONSTRAINT [FK_Vuelo_Aerolinea] FOREIGN KEY([IdAerolinea])
REFERENCES [dbo].[Aerolinea] ([Id])
GO
ALTER TABLE [dbo].[Vuelo] CHECK CONSTRAINT [FK_Vuelo_Aerolinea]
GO
ALTER TABLE [dbo].[Vuelo]  WITH CHECK ADD  CONSTRAINT [FK_Vuelo_Destino] FOREIGN KEY([IdDestino])
REFERENCES [dbo].[Aeropuerto] ([Id])
GO
ALTER TABLE [dbo].[Vuelo] CHECK CONSTRAINT [FK_Vuelo_Destino]
GO
ALTER TABLE [dbo].[Vuelo]  WITH CHECK ADD  CONSTRAINT [FK_Vuelo_Origen] FOREIGN KEY([IdOrigen])
REFERENCES [dbo].[Aeropuerto] ([Id])
GO
ALTER TABLE [dbo].[Vuelo] CHECK CONSTRAINT [FK_Vuelo_Origen]
GO
ALTER TABLE [dbo].[VueloClase]  WITH CHECK ADD  CONSTRAINT [FK_VueloClase_Clase] FOREIGN KEY([IdClase])
REFERENCES [dbo].[ClaseVuelo] ([Id])
GO
ALTER TABLE [dbo].[VueloClase] CHECK CONSTRAINT [FK_VueloClase_Clase]
GO
ALTER TABLE [dbo].[VueloClase]  WITH CHECK ADD  CONSTRAINT [FK_VueloClase_Vuelo] FOREIGN KEY([IdVuelo])
REFERENCES [dbo].[Vuelo] ([Id])
GO
ALTER TABLE [dbo].[VueloClase] CHECK CONSTRAINT [FK_VueloClase_Vuelo]
GO
ALTER TABLE [dbo].[Asiento]  WITH CHECK ADD  CONSTRAINT [CK_Asiento_Ubicacion] CHECK  (([Ubicacion]=N'Pasillo' OR [Ubicacion]=N'Central' OR [Ubicacion]=N'Ventana'))
GO
ALTER TABLE [dbo].[Asiento] CHECK CONSTRAINT [CK_Asiento_Ubicacion]
GO
ALTER TABLE [dbo].[CargoExcesoEquipaje]  WITH CHECK ADD  CONSTRAINT [CK_Cargo_Kilos] CHECK  (([KilosExceso]>(0)))
GO
ALTER TABLE [dbo].[CargoExcesoEquipaje] CHECK CONSTRAINT [CK_Cargo_Kilos]
GO
ALTER TABLE [dbo].[Equipaje]  WITH CHECK ADD  CONSTRAINT [CK_Equipaje_Bultos] CHECK  (([CantidadBultos]>(0)))
GO
ALTER TABLE [dbo].[Equipaje] CHECK CONSTRAINT [CK_Equipaje_Bultos]
GO
ALTER TABLE [dbo].[Equipaje]  WITH CHECK ADD  CONSTRAINT [CK_Equipaje_Peso] CHECK  (([PesoTotalKg]>(0)))
GO
ALTER TABLE [dbo].[Equipaje] CHECK CONSTRAINT [CK_Equipaje_Peso]
GO
ALTER TABLE [dbo].[FamiliaIntegrada]  WITH CHECK ADD  CONSTRAINT [CK_FamiliaIntegrada_NoAutoref] CHECK  (([IdFamiliaPadre]<>[IdFamiliaHija]))
GO
ALTER TABLE [dbo].[FamiliaIntegrada] CHECK CONSTRAINT [CK_FamiliaIntegrada_NoAutoref]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [CK_Pago_Importe] CHECK  (([ImporteTotalAbonado]>(0)))
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [CK_Pago_Importe]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [CK_Reserva_Cantidad] CHECK  (([CantidadPasajeros]>(0)))
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [CK_Reserva_Cantidad]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [CK_Reserva_FechaRegreso] CHECK  (([IdTipoViaje]=(1) AND [FechaRegreso] IS NULL OR [IdTipoViaje]=(2) AND [FechaRegreso] IS NOT NULL))
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [CK_Reserva_FechaRegreso]
GO
ALTER TABLE [dbo].[ReservaAdicional]  WITH CHECK ADD  CONSTRAINT [CK_ReservaAdicional_Cantidad] CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[ReservaAdicional] CHECK CONSTRAINT [CK_ReservaAdicional_Cantidad]
GO
ALTER TABLE [dbo].[ReservaAdicional]  WITH CHECK ADD  CONSTRAINT [CK_ReservaAdicional_Costo] CHECK  (([CostoUnitario]>=(0)))
GO
ALTER TABLE [dbo].[ReservaAdicional] CHECK CONSTRAINT [CK_ReservaAdicional_Costo]
GO
ALTER TABLE [dbo].[Vuelo]  WITH CHECK ADD  CONSTRAINT [CK_Vuelo_CostoKilo] CHECK  (([CostoKiloExceso]>=(0)))
GO
ALTER TABLE [dbo].[Vuelo] CHECK CONSTRAINT [CK_Vuelo_CostoKilo]
GO
ALTER TABLE [dbo].[Vuelo]  WITH CHECK ADD  CONSTRAINT [CK_Vuelo_Horario] CHECK  (([FechaHoraLlegada]>[FechaHoraSalida]))
GO
ALTER TABLE [dbo].[Vuelo] CHECK CONSTRAINT [CK_Vuelo_Horario]
GO
ALTER TABLE [dbo].[Vuelo]  WITH CHECK ADD  CONSTRAINT [CK_Vuelo_Ruta] CHECK  (([IdOrigen]<>[IdDestino]))
GO
ALTER TABLE [dbo].[Vuelo] CHECK CONSTRAINT [CK_Vuelo_Ruta]
GO
ALTER TABLE [dbo].[VueloClase]  WITH CHECK ADD  CONSTRAINT [CK_VueloClase_Capacidad] CHECK  (([CapacidadAsientos]>=(0)))
GO
ALTER TABLE [dbo].[VueloClase] CHECK CONSTRAINT [CK_VueloClase_Capacidad]
GO
ALTER TABLE [dbo].[VueloClase]  WITH CHECK ADD  CONSTRAINT [CK_VueloClase_Cupo] CHECK  (([AsientosReservados]>=(0) AND [AsientosReservados]<=[CapacidadAsientos]))
GO
ALTER TABLE [dbo].[VueloClase] CHECK CONSTRAINT [CK_VueloClase_Cupo]
GO
ALTER TABLE [dbo].[VueloClase]  WITH CHECK ADD  CONSTRAINT [CK_VueloClase_Franquicia] CHECK  (([FranquiciaEquipajeKg]>=(0)))
GO
ALTER TABLE [dbo].[VueloClase] CHECK CONSTRAINT [CK_VueloClase_Franquicia]
GO
ALTER TABLE [dbo].[VueloClase]  WITH CHECK ADD  CONSTRAINT [CK_VueloClase_Precio] CHECK  (([PrecioBase]>=(0)))
GO
ALTER TABLE [dbo].[VueloClase] CHECK CONSTRAINT [CK_VueloClase_Precio]
GO
ALTER TABLE [dbo].[Vuelo] ADD  CONSTRAINT [DF_Vuelo_BorradoLogico]  DEFAULT ((0)) FOR [BorradoLogico]
GO
ALTER TABLE [dbo].[Vuelo_C]  WITH CHECK ADD  CONSTRAINT [FK_Vuelo_C_Vuelo] FOREIGN KEY([IdVuelo])
REFERENCES [dbo].[Vuelo] ([Id])
GO
ALTER TABLE [dbo].[Vuelo_C] CHECK CONSTRAINT [FK_Vuelo_C_Vuelo]
GO
ALTER TABLE [dbo].[Vuelo_C]  WITH CHECK ADD  CONSTRAINT [FK_Vuelo_C_Aerolinea] FOREIGN KEY([IdAerolinea])
REFERENCES [dbo].[Aerolinea] ([Id])
GO
ALTER TABLE [dbo].[Vuelo_C] CHECK CONSTRAINT [FK_Vuelo_C_Aerolinea]
GO
ALTER TABLE [dbo].[Vuelo_C]  WITH CHECK ADD  CONSTRAINT [FK_Vuelo_C_Origen] FOREIGN KEY([IdOrigen])
REFERENCES [dbo].[Aeropuerto] ([Id])
GO
ALTER TABLE [dbo].[Vuelo_C] CHECK CONSTRAINT [FK_Vuelo_C_Origen]
GO
ALTER TABLE [dbo].[Vuelo_C]  WITH CHECK ADD  CONSTRAINT [FK_Vuelo_C_Destino] FOREIGN KEY([IdDestino])
REFERENCES [dbo].[Aeropuerto] ([Id])
GO
ALTER TABLE [dbo].[Vuelo_C] CHECK CONSTRAINT [FK_Vuelo_C_Destino]
GO
/****** Un solo registro activo (Act = 1) por vuelo ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Vuelo_C_Activo] ON [dbo].[Vuelo_C]
(
	[IdVuelo] ASC
)
WHERE ([Act]=(1))
GO
CREATE NONCLUSTERED INDEX [IX_Vuelo_C_Codigo_Fecha] ON [dbo].[Vuelo_C]
(
	[CodigoVuelo] ASC,
	[Fecha] ASC
)
GO
/****** Carga inicial: la versión actual de cada vuelo queda como registro activo ******/
INSERT INTO [dbo].[Vuelo_C] ([IdVuelo], [Fecha], [Hora], [CodigoVuelo], [IdAerolinea], [IdOrigen], [IdDestino],
	[FechaHoraSalida], [FechaHoraLlegada], [PuertaEmbarque], [CostoKiloExceso], [BorradoLogico], [Act])
SELECT [Id], CAST(GETDATE() AS date), CAST(GETDATE() AS time(0)), [CodigoVuelo], [IdAerolinea], [IdOrigen], [IdDestino],
	[FechaHoraSalida], [FechaHoraLlegada], [PuertaEmbarque], [CostoKiloExceso], [BorradoLogico], 1
FROM [dbo].[Vuelo]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Vuelo: cada alta o cambio de datos genera un registro nuevo en Vuelo_C con Act = 1 ******/
CREATE TRIGGER [dbo].[TR_Vuelo_Historial] ON [dbo].[Vuelo]
AFTER INSERT, UPDATE
AS
BEGIN
	SET NOCOUNT ON;

	-- El registro activo anterior deja de serlo solo si los datos realmente cambiaron.
	-- (Al activar una versión vieja, Vuelo se actualiza con datos idénticos a los del registro
	-- que ya quedó activo: no corresponde crear una versión nueva.)
	UPDATE h SET h.[Act] = 0
	FROM [dbo].[Vuelo_C] h
	INNER JOIN inserted i ON i.[Id] = h.[IdVuelo]
	WHERE h.[Act] = 1
	  AND (h.[CodigoVuelo]     <> i.[CodigoVuelo]
	    OR h.[IdAerolinea]     <> i.[IdAerolinea]
	    OR h.[IdOrigen]        <> i.[IdOrigen]
	    OR h.[IdDestino]       <> i.[IdDestino]
	    OR h.[FechaHoraSalida] <> i.[FechaHoraSalida]
	    OR h.[FechaHoraLlegada]<> i.[FechaHoraLlegada]
	    OR h.[PuertaEmbarque]  <> i.[PuertaEmbarque]
	    OR h.[CostoKiloExceso] <> i.[CostoKiloExceso]
	    OR h.[BorradoLogico]   <> i.[BorradoLogico]);

	-- Vuelos sin registro activo (alta nueva o cambio recién detectado): nueva versión activa.
	INSERT INTO [dbo].[Vuelo_C] ([IdVuelo], [Fecha], [Hora], [CodigoVuelo], [IdAerolinea], [IdOrigen], [IdDestino],
		[FechaHoraSalida], [FechaHoraLlegada], [PuertaEmbarque], [CostoKiloExceso], [BorradoLogico], [Act])
	SELECT i.[Id], CAST(GETDATE() AS date), CAST(GETDATE() AS time(0)), i.[CodigoVuelo], i.[IdAerolinea], i.[IdOrigen], i.[IdDestino],
		i.[FechaHoraSalida], i.[FechaHoraLlegada], i.[PuertaEmbarque], i.[CostoKiloExceso], i.[BorradoLogico], 1
	FROM inserted i
	WHERE NOT EXISTS (SELECT 1 FROM [dbo].[Vuelo_C] a WHERE a.[IdVuelo] = i.[Id] AND a.[Act] = 1);
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Vuelo: el borrado es lógico. Un DELETE físico se convierte en baja lógica ******/
CREATE TRIGGER [dbo].[TR_Vuelo_BorradoLogico] ON [dbo].[Vuelo]
INSTEAD OF DELETE
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE v SET v.[BorradoLogico] = 1
	FROM [dbo].[Vuelo] v
	INNER JOIN deleted d ON d.[Id] = v.[Id];
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Vuelo_C: no se elimina ningún registro ******/
CREATE TRIGGER [dbo].[TR_Vuelo_C_SinBorrado] ON [dbo].[Vuelo_C]
INSTEAD OF DELETE
AS
BEGIN
	SET NOCOUNT ON;
	THROW 50001, N'Vuelo_C es una bitácora: no se puede eliminar ningún registro.', 1;
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Vuelo_C: de un registro solo se puede modificar la columna Act ******/
CREATE TRIGGER [dbo].[TR_Vuelo_C_SoloAct] ON [dbo].[Vuelo_C]
AFTER UPDATE
AS
BEGIN
	SET NOCOUNT ON;
	IF UPDATE([IdVuelo]) OR UPDATE([Fecha]) OR UPDATE([Hora]) OR UPDATE([CodigoVuelo]) OR UPDATE([IdAerolinea])
	   OR UPDATE([IdOrigen]) OR UPDATE([IdDestino]) OR UPDATE([FechaHoraSalida]) OR UPDATE([FechaHoraLlegada])
	   OR UPDATE([PuertaEmbarque]) OR UPDATE([CostoKiloExceso]) OR UPDATE([BorradoLogico])
	BEGIN
		ROLLBACK TRANSACTION;
		THROW 50002, N'Vuelo_C es una bitácora: de un registro solo se puede modificar la columna Act.', 1;
	END
END
GO
/****** Datos de negocio agregados: precio de adicionales y vuelos de los próximos 30 días ******/
/* ---------- 0) El código de vuelo es único (igual que en la base en uso) ---------- */
IF NOT EXISTS (SELECT 1 FROM sys.indexes i
               INNER JOIN sys.index_columns ic ON ic.object_id = i.object_id AND ic.index_id = i.index_id
               INNER JOIN sys.columns c ON c.object_id = ic.object_id AND c.column_id = ic.column_id
               WHERE i.object_id = OBJECT_ID('dbo.Vuelo') AND i.is_unique = 1 AND c.name = 'CodigoVuelo')
    ALTER TABLE dbo.Vuelo ADD CONSTRAINT UQ_Vuelo_CodigoVuelo UNIQUE (CodigoVuelo);
GO
/* ---------- 1) Precio de lista de los servicios adicionales ---------- */
IF COL_LENGTH('dbo.TipoAdicional', 'PrecioUnitario') IS NULL
    ALTER TABLE dbo.TipoAdicional ADD PrecioUnitario DECIMAL(12,2) NOT NULL
        CONSTRAINT DF_TipoAdicional_PrecioUnitario DEFAULT (0)
        CONSTRAINT CK_TipoAdicional_PrecioUnitario CHECK (PrecioUnitario >= 0);
GO
UPDATE dbo.TipoAdicional
SET PrecioUnitario = CASE Nombre
        WHEN N'Equipaje extra'         THEN 25000
        WHEN N'Asiento preferencial'   THEN 12000
        WHEN N'Comida especial'        THEN  8000
        WHEN N'Asistencia prioritaria' THEN 15000
        ELSE 10000 END
WHERE PrecioUnitario = 0;
GO

/* ---------- 2) Vuelos adicionales ---------- */
SET NOCOUNT ON;
SET XACT_ABORT ON;

DECLARE @Dias INT = 30;   -- cantidad de días hacia adelante a cubrir

BEGIN TRANSACTION;

/* ---------- Aeropuertos nuevos ---------- */
INSERT INTO dbo.Aeropuerto (CodigoIata, Nombre, Ciudad, Pais)
SELECT N.CodigoIata, N.Nombre, N.Ciudad, N'Argentina'
FROM (VALUES
    ('SLA', N'Aeropuerto Internacional Martín Miguel de Güemes', N'Salta'),
    ('NQN', N'Aeropuerto Internacional Presidente Perón', N'Neuquén'),
    ('USH', N'Aeropuerto Internacional Malvinas Argentinas', N'Ushuaia'),
    ('TUC', N'Aeropuerto Internacional Teniente Benjamín Matienzo', N'San Miguel de Tucumán'),
    ('MDQ', N'Aeropuerto Internacional Astor Piazzolla', N'Mar del Plata'),
    ('FTE', N'Aeropuerto Internacional Comandante Armando Tola', N'El Calafate')
) AS N (CodigoIata, Nombre, Ciudad)
WHERE NOT EXISTS (SELECT 1 FROM dbo.Aeropuerto A WHERE A.CodigoIata = N.CodigoIata);

/* ---------- Frecuencias (una fila = un vuelo diario) ---------- */
DECLARE @Frecuencias TABLE (
    Slot INT,                  -- número de frecuencia por aerolínea (00-99), forma parte del código de vuelo
    Codigo NVARCHAR(10), Aerolinea NVARCHAR(80), Origen CHAR(3), Destino CHAR(3),
    Hora TIME(0), DuracionMin INT, PrecioEconomica DECIMAL(12,2), CostoKilo DECIMAL(10,2), Puerta NVARCHAR(10));


/* ---------- Plan de vuelos: frecuencias x días ---------- */
IF OBJECT_ID('tempdb..#Plan') IS NOT NULL DROP TABLE #Plan;

;WITH Dias AS (
    SELECT TOP (@Dias) ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS N
    FROM sys.all_objects
)
SELECT
    -- CodigoVuelo es UNIQUE en la base: cada vuelo necesita su propio código.
    -- Formato (10 caracteres): aerolínea (2) + frecuencia (2) + fecha aammdd (6). Ej: AR05261015 = frecuencia 05 del 15/10/2026
    CAST(LEFT(F.Codigo, 2) + RIGHT('0' + CAST(F.Slot AS VARCHAR(2)), 2)
         + CONVERT(CHAR(6), DATEADD(DAY, Dias.N, CAST(GETDATE() AS DATE)), 12) AS NVARCHAR(10)) AS Codigo,
    AL.Id AS IdAerolinea,
    O.Id  AS IdOrigen,
    D.Id  AS IdDestino,
    CAST(DATEADD(MINUTE, DATEDIFF(MINUTE, CAST('00:00' AS TIME(0)), F.Hora),
         CAST(DATEADD(DAY, Dias.N, CAST(GETDATE() AS DATE)) AS DATETIME2(0))) AS DATETIME2(0)) AS Salida,
    F.DuracionMin,
    F.Puerta,
    F.CostoKilo,
    -- Precio con variación: +15 % viernes y domingos, y entre -10 % y +10 % según el día (determinístico).
    CAST(ROUND(F.PrecioEconomica
         * (CASE WHEN DATEDIFF(DAY, '19000101', DATEADD(DAY, Dias.N, CAST(GETDATE() AS DATE))) % 7 IN (4, 6)
                 THEN 1.15 ELSE 1.00 END)   -- 4 = viernes, 6 = domingo (independiente del idioma del servidor)
         * (0.90 + ABS(CHECKSUM(F.Codigo, Dias.N) % 21) / 100.0), -2) AS DECIMAL(12,2)) AS PrecioEconomica
INTO #Plan
FROM @Frecuencias F
CROSS JOIN Dias
INNER JOIN dbo.Aerolinea  AL ON AL.Nombre = F.Aerolinea
INNER JOIN dbo.Aeropuerto O  ON O.CodigoIata = F.Origen
INNER JOIN dbo.Aeropuerto D  ON D.CodigoIata = F.Destino;

-- No duplicar: si el código ya existe (vuelo generado en una corrida anterior o cargado a mano), se saltea.
DELETE P FROM #Plan P
WHERE EXISTS (SELECT 1 FROM dbo.Vuelo V WHERE V.CodigoVuelo = P.Codigo);

/* ---------- Vuelos ---------- */
INSERT INTO dbo.Vuelo (CodigoVuelo, IdAerolinea, IdOrigen, IdDestino, FechaHoraSalida, FechaHoraLlegada,
                       PuertaEmbarque, CostoKiloExceso, BorradoLogico)
SELECT Codigo, IdAerolinea, IdOrigen, IdDestino, Salida, DATEADD(MINUTE, DuracionMin, Salida),
       Puerta, CostoKilo, 0
FROM #Plan;

/* ---------- Clases de cada vuelo ---------- */
INSERT INTO dbo.VueloClase (IdVuelo, IdClase, PrecioBase, CapacidadAsientos, AsientosReservados, FranquiciaEquipajeKg)
SELECT V.Id, C.IdClase, CAST(ROUND(P.PrecioEconomica * C.Factor, -2) AS DECIMAL(12,2)), C.Capacidad, 0, C.Franquicia
FROM #Plan P
INNER JOIN dbo.Vuelo V ON V.CodigoVuelo = P.Codigo AND V.FechaHoraSalida = P.Salida
CROSS JOIN (VALUES (1, 1.0, 84, 15.00), (2, 2.2, 24, 23.00), (3, 3.5, 12, 32.00))
     AS C (IdClase, Factor, Capacidad, Franquicia)
WHERE NOT EXISTS (SELECT 1 FROM dbo.VueloClase X WHERE X.IdVuelo = V.Id AND X.IdClase = C.IdClase);

/* ---------- Asientos (mismo mapa que los vuelos existentes) ---------- */
INSERT INTO dbo.Asiento (IdVuelo, Fila, Letra, IdClase, Ubicacion)
SELECT V.Id, F.Fila, L.Letra,
       CASE WHEN F.Fila <= 2 THEN 3 WHEN F.Fila <= 6 THEN 2 ELSE 1 END,
       L.Ubicacion
FROM #Plan P
INNER JOIN dbo.Vuelo V ON V.CodigoVuelo = P.Codigo AND V.FechaHoraSalida = P.Salida
CROSS JOIN (SELECT TOP (20) ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS Fila FROM sys.all_objects) AS F
CROSS JOIN (VALUES ('A', N'Ventana'), ('B', N'Central'), ('C', N'Pasillo'),
                   ('D', N'Pasillo'), ('E', N'Central'), ('F', N'Ventana')) AS L (Letra, Ubicacion)
WHERE NOT EXISTS (SELECT 1 FROM dbo.Asiento X WHERE X.IdVuelo = V.Id AND X.Fila = F.Fila AND X.Letra = L.Letra);

DECLARE @Creados INT = (SELECT COUNT(*) FROM #Plan);
DROP TABLE #Plan;

COMMIT TRANSACTION;

PRINT CONCAT('Vuelos nuevos creados: ', @Creados);
GO
/* ===== Rol Gerente + Reporte de reservas (RFN 1): ver Script_Rol_Gerente_Reporte.sql ===== */
USE [Gestion Usuario];
GO

SET NOCOUNT ON;
SET XACT_ABORT ON;
BEGIN TRANSACTION;

/* ---------- 1) Patentes ---------- */
DECLARE @Patentes TABLE (Id INT, Nombre NVARCHAR(100), DataKey NVARCHAR(100));
INSERT INTO @Patentes (Id, Nombre, DataKey) VALUES
    (31, N'Reportes - Reservas',              N'Reportes.Reservas'),
    (32, N'Reportes - Reservas Exportar PDF', N'Reportes.ReservasExportarPDF');

SET IDENTITY_INSERT dbo.Patente ON;
INSERT INTO dbo.Patente (Id, Nombre, DataKey)
SELECT P.Id, P.Nombre, P.DataKey FROM @Patentes P
WHERE NOT EXISTS (SELECT 1 FROM dbo.Patente X WHERE X.DataKey = P.DataKey)
  AND NOT EXISTS (SELECT 1 FROM dbo.Patente X WHERE X.Id = P.Id);
SET IDENTITY_INSERT dbo.Patente OFF;

-- Si el Id sugerido ya estaba ocupado, se inserta con el siguiente Id libre.
INSERT INTO dbo.Patente (Nombre, DataKey)
SELECT P.Nombre, P.DataKey FROM @Patentes P
WHERE NOT EXISTS (SELECT 1 FROM dbo.Patente X WHERE X.DataKey = P.DataKey);

/* ---------- 2) Tipos de evento de bitácora ---------- */
DECLARE @Eventos TABLE (Id INT, Nombre NVARCHAR(100));
INSERT INTO @Eventos (Id, Nombre) VALUES
    (42, N'Reporte de reservas consultado'),
    (43, N'Reporte de reservas exportado a PDF');

SET IDENTITY_INSERT dbo.TipoEvento ON;
INSERT INTO dbo.TipoEvento (Id, Nombre)
SELECT E.Id, E.Nombre FROM @Eventos E
WHERE NOT EXISTS (SELECT 1 FROM dbo.TipoEvento X WHERE X.Nombre = E.Nombre)
  AND NOT EXISTS (SELECT 1 FROM dbo.TipoEvento X WHERE X.Id = E.Id);
SET IDENTITY_INSERT dbo.TipoEvento OFF;

INSERT INTO dbo.TipoEvento (Nombre)
SELECT E.Nombre FROM @Eventos E
WHERE NOT EXISTS (SELECT 1 FROM dbo.TipoEvento X WHERE X.Nombre = E.Nombre);

/* ---------- 3) Rol Gerente ---------- */
IF NOT EXISTS (SELECT 1 FROM dbo.Roles WHERE Nombre = N'Gerente')
BEGIN
    IF NOT EXISTS (SELECT 1 FROM dbo.Roles WHERE Id = 28)
    BEGIN
        SET IDENTITY_INSERT dbo.Roles ON;
        INSERT INTO dbo.Roles (Id, Nombre) VALUES (28, N'Gerente');
        SET IDENTITY_INSERT dbo.Roles OFF;
    END
    ELSE
        INSERT INTO dbo.Roles (Nombre) VALUES (N'Gerente');
END

DECLARE @IdGerente INT = (SELECT Id FROM dbo.Roles WHERE Nombre = N'Gerente');
DECLARE @IdAdmin INT = (SELECT Id FROM dbo.Roles WHERE Nombre = N'Admin');

/* ---------- 4) Patentes de cada rol ---------- */
DECLARE @Asignar TABLE (IdRol INT, DataKey NVARCHAR(100));
INSERT INTO @Asignar (IdRol, DataKey) VALUES
    (@IdGerente, N'Reportes.Reservas'),
    (@IdGerente, N'Reportes.ReservasExportarPDF'),
    (@IdGerente, N'Sesion.CambiarClave'),
    (@IdGerente, N'Sesion.ReLogin'),
    (@IdGerente, N'Sesion.Logout'),
    (@IdGerente, N'Sesion.CambiarIdioma');
IF @IdAdmin IS NOT NULL
    INSERT INTO @Asignar (IdRol, DataKey) VALUES
        (@IdAdmin, N'Reportes.Reservas'),
        (@IdAdmin, N'Reportes.ReservasExportarPDF');

INSERT INTO dbo.RolPatente (IdRol, IdPatente)
SELECT A.IdRol, P.Id
FROM @Asignar A
INNER JOIN dbo.Patente P ON P.DataKey = A.DataKey
WHERE NOT EXISTS (SELECT 1 FROM dbo.RolPatente X WHERE X.IdRol = A.IdRol AND X.IdPatente = P.Id);

/* ---------- 5) Dígito verificador horizontal de las filas nuevas ----------
   DVH = SHA-256("campo|campo|...|") en hexadecimal minúscula (igual que CalculadorIntegridad_GV42).
   Todos los textos nuevos son ASCII, así que VARCHAR da los mismos bytes que UTF-8.
   Se recalcula también para filas que ya existían (por si el script se corre de nuevo).   */
DECLARE @DVH TABLE (NombreTabla NVARCHAR(100), IdRegistro NVARCHAR(50), DVH NVARCHAR(64));

INSERT INTO @DVH (NombreTabla, IdRegistro, DVH)
SELECT N'Patente', CAST(P.Id AS NVARCHAR(50)),
       LOWER(CONVERT(VARCHAR(64), HASHBYTES('SHA2_256',
             CAST(CONCAT(P.Id, '|', P.Nombre, '|', P.DataKey, '|') AS VARCHAR(400))), 2))
FROM dbo.Patente P INNER JOIN @Patentes N ON N.DataKey = P.DataKey;

INSERT INTO @DVH (NombreTabla, IdRegistro, DVH)
SELECT N'TipoEvento', CAST(T.Id AS NVARCHAR(50)),
       LOWER(CONVERT(VARCHAR(64), HASHBYTES('SHA2_256',
             CAST(CONCAT(T.Id, '|', T.Nombre, '|') AS VARCHAR(400))), 2))
FROM dbo.TipoEvento T INNER JOIN @Eventos N ON N.Nombre = T.Nombre;

INSERT INTO @DVH (NombreTabla, IdRegistro, DVH)
SELECT N'Roles', CAST(R.Id AS NVARCHAR(50)),
       LOWER(CONVERT(VARCHAR(64), HASHBYTES('SHA2_256',
             CAST(CONCAT(R.Id, '|', R.Nombre, '|') AS VARCHAR(400))), 2))
FROM dbo.Roles R WHERE R.Id = @IdGerente;

INSERT INTO @DVH (NombreTabla, IdRegistro, DVH)
SELECT N'RolPatente', CONCAT(RP.IdRol, '_', RP.IdPatente),
       LOWER(CONVERT(VARCHAR(64), HASHBYTES('SHA2_256',
             CAST(CONCAT(RP.IdRol, '|', RP.IdPatente, '|') AS VARCHAR(400))), 2))
FROM dbo.RolPatente RP
INNER JOIN dbo.Patente P ON P.Id = RP.IdPatente
INNER JOIN @Asignar A ON A.IdRol = RP.IdRol AND A.DataKey = P.DataKey;

DELETE H
FROM dbo.IntegridadDVH H
INNER JOIN @DVH D ON D.NombreTabla = H.NombreTabla AND D.IdRegistro = H.IdRegistro;

INSERT INTO dbo.IntegridadDVH (NombreTabla, IdRegistro, DVH)
SELECT NombreTabla, IdRegistro, DVH FROM @DVH;

/* ---------- 6) Dígito verificador vertical ----------
   DVV = SHA-256(concatenación de todos los DVH de la tabla en orden ordinal). */
DECLARE @Tabla NVARCHAR(100), @Concat VARCHAR(MAX), @DVV NVARCHAR(64);
DECLARE cTablas CURSOR LOCAL FAST_FORWARD FOR
    SELECT T FROM (VALUES (N'Patente'), (N'TipoEvento'), (N'Roles'), (N'RolPatente')) AS X(T);
OPEN cTablas;
FETCH NEXT FROM cTablas INTO @Tabla;
WHILE @@FETCH_STATUS = 0
BEGIN
    SET @Concat = NULL;
    SELECT @Concat = STRING_AGG(CAST(DVH AS VARCHAR(MAX)), '')
                     WITHIN GROUP (ORDER BY DVH COLLATE Latin1_General_BIN2)
    FROM dbo.IntegridadDVH
    WHERE NombreTabla = @Tabla;

    SET @DVV = LOWER(CONVERT(VARCHAR(64), HASHBYTES('SHA2_256', ISNULL(@Concat, '')), 2));

    IF EXISTS (SELECT 1 FROM dbo.IntegridadDVV WHERE NombreTabla = @Tabla)
        UPDATE dbo.IntegridadDVV SET DVV = @DVV, FechaCalculo = GETDATE() WHERE NombreTabla = @Tabla;
    ELSE
        INSERT INTO dbo.IntegridadDVV (NombreTabla, DVV) VALUES (@Tabla, @DVV);

    FETCH NEXT FROM cTablas INTO @Tabla;
END
CLOSE cTablas;
DEALLOCATE cTablas;

COMMIT TRANSACTION;

SELECT R.Id AS IdRol, R.Nombre AS Rol, P.Id AS IdPatente, P.DataKey
FROM dbo.RolPatente RP
INNER JOIN dbo.Roles R ON R.Id = RP.IdRol
INNER JOIN dbo.Patente P ON P.Id = RP.IdPatente
WHERE R.Nombre = N'Gerente' OR P.DataKey LIKE N'Reportes.%'
ORDER BY R.Nombre, P.Id;

PRINT 'Rol Gerente y reporte de reservas listos.';
GO
USE [master]
GO
