USE [master]
GO
/****** Object:  Database [Gestion Usuario]    Script Date: 28/09/2026 20:21:54 ******/
CREATE DATABASE [Gestion Usuario]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gestion Usuario', FILENAME = N'C:\Users\Usuario\Gestion Usuario.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gestion Usuario_log', FILENAME = N'C:\Users\Usuario\Gestion Usuario_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gestion Usuario].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gestion Usuario]
GO
/****** Object:  Table [dbo].[Aerolinea]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aerolinea](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Aeropuerto]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aeropuerto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodigoIata] [char](3) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Ciudad] [nvarchar](60) NOT NULL,
	[Pais] [nvarchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asiento]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asiento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdVuelo] [int] NOT NULL,
	[Fila] [int] NOT NULL,
	[Letra] [char](1) NOT NULL,
	[NumeroAsiento]  AS (CONVERT([nvarchar](3),[Fila])+CONVERT([nvarchar](1),[Letra])) PERSISTED,
	[IdClase] [int] NOT NULL,
	[Ubicacion] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Boleto]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boleto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroBoleto]  AS (N'BOL-'+right(N'000000'+CONVERT([nvarchar](10),[Id]),(6))) PERSISTED,
	[IdReserva] [int] NOT NULL,
	[DniPasajero] [nvarchar](20) NOT NULL,
	[FechaEmision] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CanalVenta]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CanalVenta](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CargoExcesoEquipaje]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CargoExcesoEquipaje](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdEquipaje] [int] NOT NULL,
	[KilosExceso] [decimal](7, 2) NOT NULL,
	[CostoPorKilo] [decimal](10, 2) NOT NULL,
	[ImporteCargo] [decimal](12, 2) NOT NULL,
	[IdMedioPago] [int] NOT NULL,
	[NumeroTransaccion] [nvarchar](40) NULL,
	[FechaHoraCobro] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CheckIn]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckIn](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdReserva] [int] NOT NULL,
	[DniPasajero] [nvarchar](20) NOT NULL,
	[IdEstadoCheckIn] [int] NOT NULL,
	[FechaHoraCheckIn] [datetime2](0) NULL,
	[IdAsiento] [int] NULL,
	[LoginEncargado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaseVuelo]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaseVuelo](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[DNI] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](60) NOT NULL,
	[Apellido] [nvarchar](60) NOT NULL,
	[Email] [nvarchar](500) NOT NULL,
	[Telefono] [nvarchar](30) NOT NULL,
	[FechaAlta] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipaje]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipaje](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCheckIn] [int] NOT NULL,
	[CantidadBultos] [int] NOT NULL,
	[PesoTotalKg] [decimal](7, 2) NOT NULL,
	[FranquiciaKg] [decimal](7, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoCheckIn]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoCheckIn](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoReserva]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoReserva](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EtiquetaEquipaje]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EtiquetaEquipaje](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdEquipaje] [int] NOT NULL,
	[CodigoEquipaje] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENTOS]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTOS](
	[Id_Evento] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](250) NOT NULL,
	[Criticidad] [nvarchar](50) NOT NULL,
	[FechaHora] [datetime] NULL,
	[IdModulo] [int] NULL,
	[IdTipoEvento] [int] NULL,
	[Detalle] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamiliaIntegrada]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaIntegrada](
	[IdFamiliaPadre] [int] NOT NULL,
	[IdFamiliaHija] [int] NOT NULL,
 CONSTRAINT [PK_FamiliaIntegrada] PRIMARY KEY CLUSTERED 
(
	[IdFamiliaPadre] ASC,
	[IdFamiliaHija] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamiliaPatente]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaPatente](
	[IdFamilia] [int] NOT NULL,
	[IdPatente] [int] NOT NULL,
 CONSTRAINT [PK_FamiliaPatente] PRIMARY KEY CLUSTERED 
(
	[IdFamilia] ASC,
	[IdPatente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IntegridadDVH]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IntegridadDVH](
	[NombreTabla] [nvarchar](50) NOT NULL,
	[IdRegistro] [nvarchar](50) NOT NULL,
	[DVH] [nvarchar](64) NOT NULL,
	[FechaCalculo] [datetime] NOT NULL,
 CONSTRAINT [PK_IntegridadDVH] PRIMARY KEY CLUSTERED 
(
	[NombreTabla] ASC,
	[IdRegistro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IntegridadDVV]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IntegridadDVV](
	[NombreTabla] [nvarchar](50) NOT NULL,
	[DVV] [nvarchar](64) NOT NULL,
	[FechaCalculo] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NombreTabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedioPago]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedioPago](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modulo]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modulo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdReserva] [int] NOT NULL,
	[ImporteTotalAbonado] [decimal](12, 2) NOT NULL,
	[IdMedioPago] [int] NOT NULL,
	[NumeroTransaccion] [nvarchar](40) NOT NULL,
	[FechaHoraPago] [datetime2](0) NOT NULL,
	[LoginVendedor] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pasajero]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pasajero](
	[DNI] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](60) NOT NULL,
	[Apellido] [nvarchar](60) NOT NULL,
	[Email] [nvarchar](500) NOT NULL,
	[Telefono] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patente]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[DataKey] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroReserva]  AS (N'RES-'+right(N'000000'+CONVERT([nvarchar](10),[Id]),(6))) PERSISTED,
	[DniCliente] [nvarchar](20) NOT NULL,
	[IdVuelo] [int] NOT NULL,
	[IdClase] [int] NOT NULL,
	[IdTipoViaje] [int] NOT NULL,
	[FechaRegreso] [date] NULL,
	[CantidadPasajeros] [int] NOT NULL,
	[ImporteBase] [decimal](12, 2) NOT NULL,
	[SubtotalAdicionales] [decimal](12, 2) NOT NULL,
	[Impuestos] [decimal](12, 2) NOT NULL,
	[ImporteTotal] [decimal](12, 2) NOT NULL,
	[IdEstadoReserva] [int] NOT NULL,
	[FechaRealizacion] [datetime2](0) NOT NULL,
	[LoginVendedor] [nvarchar](50) NOT NULL,
	[IdCanalVenta] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservaAdicional]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservaAdicional](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdReserva] [int] NOT NULL,
	[IdTipoAdicional] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[CostoUnitario] [decimal](12, 2) NOT NULL,
	[Subtotal]  AS ([Cantidad]*[CostoUnitario]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservaPasajero]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservaPasajero](
	[IdReserva] [int] NOT NULL,
	[DniPasajero] [nvarchar](20) NOT NULL,
	[IdAsiento] [int] NULL,
 CONSTRAINT [PK_ReservaPasajero] PRIMARY KEY CLUSTERED 
(
	[IdReserva] ASC,
	[DniPasajero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolFamilia]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolFamilia](
	[IdRol] [int] NOT NULL,
	[IdFamilia] [int] NOT NULL,
 CONSTRAINT [PK_RolFamilia] PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC,
	[IdFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolPatente]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolPatente](
	[IdRol] [int] NOT NULL,
	[IdPatente] [int] NOT NULL,
 CONSTRAINT [PK_RolPatente] PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC,
	[IdPatente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TarjetaEmbarque]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TarjetaEmbarque](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroTarjeta]  AS (N'TE-'+right(N'000000'+CONVERT([nvarchar](10),[Id]),(6))) PERSISTED,
	[IdCheckIn] [int] NOT NULL,
	[PuertaEmbarque] [nvarchar](10) NOT NULL,
	[HoraLimiteEmbarque] [datetime2](0) NOT NULL,
	[FechaHoraEmision] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoAdicional]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoAdicional](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](60) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoEvento]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoEvento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoViaje]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoViaje](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[DNI] [nvarchar](250) NOT NULL,
	[Apellido] [nvarchar](250) NOT NULL,
	[Nombre] [nvarchar](250) NOT NULL,
	[UserName] [nvarchar](250) NOT NULL,
	[Contrasena] [nvarchar](250) NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[Bloqueo] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
	[IdRol] [int] NOT NULL,
	[IntentosFallidos] [int] NOT NULL,
	[UltimoIntentoFallido] [datetime] NULL,
	[DebeCambiarContrasena] [bit] NOT NULL,
	[Idioma] [nvarchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vuelo]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vuelo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodigoVuelo] [nvarchar](10) NOT NULL,
	[IdAerolinea] [int] NOT NULL,
	[IdOrigen] [int] NOT NULL,
	[IdDestino] [int] NOT NULL,
	[FechaHoraSalida] [datetime2](0) NOT NULL,
	[FechaHoraLlegada] [datetime2](0) NOT NULL,
	[PuertaEmbarque] [nvarchar](10) NOT NULL,
	[CostoKiloExceso] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VueloClase]    Script Date: 28/09/2026 20:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VueloClase](
	[IdVuelo] [int] NOT NULL,
	[IdClase] [int] NOT NULL,
	[PrecioBase] [decimal](12, 2) NOT NULL,
	[CapacidadAsientos] [int] NOT NULL,
	[AsientosReservados] [int] NOT NULL,
	[FranquiciaEquipajeKg] [decimal](6, 2) NOT NULL,
 CONSTRAINT [PK_VueloClase] PRIMARY KEY CLUSTERED 
(
	[IdVuelo] ASC,
	[IdClase] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Aerolinea] ON 

INSERT [dbo].[Aerolinea] ([Id], [Nombre]) VALUES (1, N'Aerolíneas Argentinas')
INSERT [dbo].[Aerolinea] ([Id], [Nombre]) VALUES (2, N'Flybondi')
INSERT [dbo].[Aerolinea] ([Id], [Nombre]) VALUES (3, N'JetSMART')
SET IDENTITY_INSERT [dbo].[Aerolinea] OFF
GO
SET IDENTITY_INSERT [dbo].[Aeropuerto] ON 

INSERT [dbo].[Aeropuerto] ([Id], [CodigoIata], [Nombre], [Ciudad], [Pais]) VALUES (1, N'AEP', N'Aeroparque Jorge Newbery', N'Buenos Aires', N'Argentina')
INSERT [dbo].[Aeropuerto] ([Id], [CodigoIata], [Nombre], [Ciudad], [Pais]) VALUES (2, N'EZE', N'Aeropuerto Internacional Ezeiza', N'Buenos Aires', N'Argentina')
INSERT [dbo].[Aeropuerto] ([Id], [CodigoIata], [Nombre], [Ciudad], [Pais]) VALUES (3, N'COR', N'Aeropuerto Internacional Pajas Blancas', N'Córdoba', N'Argentina')
SET IDENTITY_INSERT [dbo].[Aeropuerto] OFF
GO
SET IDENTITY_INSERT [dbo].[Asiento] ON 

INSERT [dbo].[Asiento] ([Id], [IdVuelo], [Fila], [Letra], [IdClase], [Ubicacion]) VALUES (1, 1, 1, N'A', 3, N'Ventana')
INSERT [dbo].[Asiento] ([Id], [IdVuelo], [Fila], [Letra], [IdClase], [Ubicacion]) VALUES (2, 1, 2, N'A', 3, N'Ventana')
INSERT [dbo].[Asiento] ([Id], [IdVuelo], [Fila], [Letra], [IdClase], [Ubicacion]) VALUES (3, 1, 3, N'A', 2, N'Ventana')
GO
SET IDENTITY_INSERT [dbo].[Asiento] OFF
GO
INSERT [dbo].[CanalVenta] ([Id], [Nombre]) VALUES (2, N'Autogestión')
INSERT [dbo].[CanalVenta] ([Id], [Nombre]) VALUES (1, N'Presencial')
GO
INSERT [dbo].[ClaseVuelo] ([Id], [Nombre]) VALUES (1, N'Económica')
INSERT [dbo].[ClaseVuelo] ([Id], [Nombre]) VALUES (2, N'Ejecutiva')
INSERT [dbo].[ClaseVuelo] ([Id], [Nombre]) VALUES (3, N'Primera clase')
GO
INSERT [dbo].[EstadoCheckIn] ([Id], [Nombre]) VALUES (1, N'Pendiente')
INSERT [dbo].[EstadoCheckIn] ([Id], [Nombre]) VALUES (2, N'Realizado')
GO
INSERT [dbo].[EstadoReserva] ([Id], [Nombre]) VALUES (2, N'Confirmada')
INSERT [dbo].[EstadoReserva] ([Id], [Nombre]) VALUES (1, N'Pendiente de Pago')
GO
SET IDENTITY_INSERT [dbo].[EVENTOS] ON 

INSERT [dbo].[EVENTOS] ([Id_Evento], [UserName], [Criticidad], [FechaHora], [IdModulo], [IdTipoEvento], [Detalle]) VALUES (2140, N'jeremias544', N'Baja', CAST(N'2026-05-19T10:08:24.127' AS DateTime), 4, 7, NULL)
INSERT [dbo].[EVENTOS] ([Id_Evento], [UserName], [Criticidad], [FechaHora], [IdModulo], [IdTipoEvento], [Detalle]) VALUES (2141, N'jeremias544', N'Baja', CAST(N'2026-05-19T10:09:48.330' AS DateTime), 5, 13, N'Login: lautaro222')
INSERT [dbo].[EVENTOS] ([Id_Evento], [UserName], [Criticidad], [FechaHora], [IdModulo], [IdTipoEvento], [Detalle]) VALUES (2142, N'jeremias544', N'Media', CAST(N'2026-05-19T10:10:06.833' AS DateTime), 5, 10, N'DNI: 12121211')
GO
SET IDENTITY_INSERT [dbo].[EVENTOS] OFF
GO
SET IDENTITY_INSERT [dbo].[Familia] ON 

INSERT [dbo].[Familia] ([Id], [Nombre]) VALUES (16, N'BitacoraGestion')
INSERT [dbo].[Familia] ([Id], [Nombre]) VALUES (3, N'Gestion Usuario')
SET IDENTITY_INSERT [dbo].[Familia] OFF
GO
INSERT [dbo].[FamiliaPatente] ([IdFamilia], [IdPatente]) VALUES (3, 2)
INSERT [dbo].[FamiliaPatente] ([IdFamilia], [IdPatente]) VALUES (3, 3)
INSERT [dbo].[FamiliaPatente] ([IdFamilia], [IdPatente]) VALUES (3, 4)
GO
INSERT [dbo].[IntegridadDVH] ([NombreTabla], [IdRegistro], [DVH], [FechaCalculo]) VALUES (N'Familia', N'16', N'4e5346e89d05582df7dbe88ef8d663b301dc07960694b7b7aefe310b9869de22', CAST(N'2026-09-28T19:52:18.773' AS DateTime))
INSERT [dbo].[IntegridadDVH] ([NombreTabla], [IdRegistro], [DVH], [FechaCalculo]) VALUES (N'Familia', N'3', N'd8826929e5486d21f7da9b48db10398ad2fb7a71b22601872660a37af958989d', CAST(N'2026-09-28T19:52:18.773' AS DateTime))
INSERT [dbo].[IntegridadDVH] ([NombreTabla], [IdRegistro], [DVH], [FechaCalculo]) VALUES (N'FamiliaPatente', N'16_6', N'4dc07ef37dbcb23aa59e74a537750e96f3aa2374d6b53150a2a17eb7ee35c1d1', CAST(N'2026-09-28T19:52:18.787' AS DateTime))
GO
INSERT [dbo].[IntegridadDVV] ([NombreTabla], [DVV], [FechaCalculo]) VALUES (N'Familia', N'535905bc78b22a746c9811b436893c4cc7633f7c90d0fa4377d5a445e60e974f', CAST(N'2026-09-28T19:52:18.773' AS DateTime))
INSERT [dbo].[IntegridadDVV] ([NombreTabla], [DVV], [FechaCalculo]) VALUES (N'FamiliaIntegrada', N'e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855', CAST(N'2026-09-28T19:52:18.790' AS DateTime))
INSERT [dbo].[IntegridadDVV] ([NombreTabla], [DVV], [FechaCalculo]) VALUES (N'FamiliaPatente', N'55cca2e008f5731151257e43ee3670eee21aecc76bff94096ac81c480928a564', CAST(N'2026-09-28T19:52:18.790' AS DateTime))
GO
INSERT [dbo].[MedioPago] ([Id], [Nombre]) VALUES (4, N'Efectivo')
INSERT [dbo].[MedioPago] ([Id], [Nombre]) VALUES (2, N'Tarjeta de crédito')
INSERT [dbo].[MedioPago] ([Id], [Nombre]) VALUES (1, N'Tarjeta de débito')
GO
SET IDENTITY_INSERT [dbo].[Modulo] ON 

INSERT [dbo].[Modulo] ([Id], [Nombre]) VALUES (5, N'Admin')
INSERT [dbo].[Modulo] ([Id], [Nombre]) VALUES (7, N'CheckIn')
INSERT [dbo].[Modulo] ([Id], [Nombre]) VALUES (6, N'Reservas')
SET IDENTITY_INSERT [dbo].[Modulo] OFF
GO
SET IDENTITY_INSERT [dbo].[Patente] ON 

INSERT [dbo].[Patente] ([Id], [Nombre], [DataKey]) VALUES (1, N'Gestión Usuarios - Ver', N'Usuarios.Ver')
INSERT [dbo].[Patente] ([Id], [Nombre], [DataKey]) VALUES (2, N'Gestión Usuarios - Crear', N'Usuarios.Crear')
INSERT [dbo].[Patente] ([Id], [Nombre], [DataKey]) VALUES (3, N'Gestión Usuarios - Modificar', N'Usuarios.Modificar')
SET IDENTITY_INSERT [dbo].[Patente] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Nombre]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([Id], [Nombre]) VALUES (10, N'AdminGestionUsuario')
INSERT [dbo].[Roles] ([Id], [Nombre]) VALUES (26, N'Cliente')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[RolFamilia] ([IdRol], [IdFamilia]) VALUES (16, 16)
GO
INSERT [dbo].[RolPatente] ([IdRol], [IdPatente]) VALUES (1, 1)
INSERT [dbo].[RolPatente] ([IdRol], [IdPatente]) VALUES (1, 2)
INSERT [dbo].[RolPatente] ([IdRol], [IdPatente]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[TipoAdicional] ON 

INSERT [dbo].[TipoAdicional] ([Id], [Nombre], [Activo]) VALUES (1, N'Equipaje extra', 1)
INSERT [dbo].[TipoAdicional] ([Id], [Nombre], [Activo]) VALUES (2, N'Asiento preferencial', 1)
INSERT [dbo].[TipoAdicional] ([Id], [Nombre], [Activo]) VALUES (3, N'Comida especial', 1)
SET IDENTITY_INSERT [dbo].[TipoAdicional] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoEvento] ON 

INSERT [dbo].[TipoEvento] ([Id], [Nombre]) VALUES (30, N'Asiento asignado')
INSERT [dbo].[TipoEvento] ([Id], [Nombre]) VALUES (34, N'Asiento seleccionado')
INSERT [dbo].[TipoEvento] ([Id], [Nombre]) VALUES (24, N'Backup automatico generado')
SET IDENTITY_INSERT [dbo].[TipoEvento] OFF
GO
INSERT [dbo].[TipoViaje] ([Id], [Nombre]) VALUES (1, N'Ida')
INSERT [dbo].[TipoViaje] ([Id], [Nombre]) VALUES (2, N'Ida y Vuelta')
GO
INSERT [dbo].[Usuario] ([DNI], [Apellido], [Nombre], [UserName], [Contrasena], [Email], [Bloqueo], [Activo], [IdRol], [IntentosFallidos], [UltimoIntentoFallido], [DebeCambiarContrasena], [Idioma]) VALUES (N'00000000', N'Lopez', N'Lautaro', N'lautaro000', N'bded47e467ed1d20b249e6b8080bd37492872fe0b5c729fae6fd52f8ef769ee7', N'w2/FSHutnIDUW/QcmhZKbQ==', 0, 1, 11, 0, NULL, 0, N'es')
INSERT [dbo].[Usuario] ([DNI], [Apellido], [Nombre], [UserName], [Contrasena], [Email], [Bloqueo], [Activo], [IdRol], [IntentosFallidos], [UltimoIntentoFallido], [DebeCambiarContrasena], [Idioma]) VALUES (N'11111116', N'Vergara', N'Alejo', N'alejo116', N'1d67ce4964b0bab4066ed684541c91238aa92197e280718038405b7899064db4', N'P+bKpZYuSEhtmCSOfqj/p9WfACx4SyVzqo5+OdKF6EI=', 0, 1, 1, 0, NULL, 0, N'es')
INSERT [dbo].[Usuario] ([DNI], [Apellido], [Nombre], [UserName], [Contrasena], [Email], [Bloqueo], [Activo], [IdRol], [IntentosFallidos], [UltimoIntentoFallido], [DebeCambiarContrasena], [Idioma]) VALUES (N'12121211', N'Gomez', N'pepe', N'pepe211', N'163d91856700395350a27f141986935e70df70015307eae44853558301db7a89', N'Yo5pmztsqhu13ineCpalcdVf/RSpoJzSyj0NSDJO8/g=', 0, 1, 10, 0, NULL, 0, N'es')
GO
SET IDENTITY_INSERT [dbo].[Vuelo] ON 

INSERT [dbo].[Vuelo] ([Id], [CodigoVuelo], [IdAerolinea], [IdOrigen], [IdDestino], [FechaHoraSalida], [FechaHoraLlegada], [PuertaEmbarque], [CostoKiloExceso]) VALUES (1, N'AR1500', 1, 1, 3, CAST(N'2026-09-29T10:30:00.0000000' AS DateTime2), CAST(N'2026-09-29T11:50:00.0000000' AS DateTime2), N'A4', CAST(3500.00 AS Decimal(10, 2)))
INSERT [dbo].[Vuelo] ([Id], [CodigoVuelo], [IdAerolinea], [IdOrigen], [IdDestino], [FechaHoraSalida], [FechaHoraLlegada], [PuertaEmbarque], [CostoKiloExceso]) VALUES (2, N'AR1502', 1, 1, 3, CAST(N'2026-09-29T18:00:00.0000000' AS DateTime2), CAST(N'2026-09-29T19:20:00.0000000' AS DateTime2), N'A6', CAST(3500.00 AS Decimal(10, 2)))
INSERT [dbo].[Vuelo] ([Id], [CodigoVuelo], [IdAerolinea], [IdOrigen], [IdDestino], [FechaHoraSalida], [FechaHoraLlegada], [PuertaEmbarque], [CostoKiloExceso]) VALUES (3, N'FB3020', 2, 1, 4, CAST(N'2026-10-01T07:15:00.0000000' AS DateTime2), CAST(N'2026-10-01T09:10:00.0000000' AS DateTime2), N'B2', CAST(3000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Vuelo] OFF
GO
INSERT [dbo].[VueloClase] ([IdVuelo], [IdClase], [PrecioBase], [CapacidadAsientos], [AsientosReservados], [FranquiciaEquipajeKg]) VALUES (1, 1, CAST(95000.00 AS Decimal(12, 2)), 84, 0, CAST(15.00 AS Decimal(6, 2)))
INSERT [dbo].[VueloClase] ([IdVuelo], [IdClase], [PrecioBase], [CapacidadAsientos], [AsientosReservados], [FranquiciaEquipajeKg]) VALUES (1, 2, CAST(209000.00 AS Decimal(12, 2)), 24, 0, CAST(23.00 AS Decimal(6, 2)))
INSERT [dbo].[VueloClase] ([IdVuelo], [IdClase], [PrecioBase], [CapacidadAsientos], [AsientosReservados], [FranquiciaEquipajeKg]) VALUES (1, 3, CAST(332500.00 AS Decimal(12, 2)), 12, 0, CAST(32.00 AS Decimal(6, 2)))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Aeroline__75E3EFCF1043E9B9]    Script Date: 28/09/2026 20:21:54 ******/
ALTER TABLE [dbo].[Aerolinea] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Aeropuer__D00F17F6EB29F40B]    Script Date: 28/09/2026 20:21:54 ******/
ALTER TABLE [dbo].[Aeropuerto] ADD UNIQUE NONCLUSTERED 
(
	[CodigoIata] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Asiento_Vuelo_Numero]    Script Date: 28/09/2026 20:21:54 ******/
ALTER TABLE [dbo].[Asiento] ADD  CONSTRAINT [UQ_Asiento_Vuelo_Numero] UNIQUE NONCLUSTERED 
(
	[IdVuelo] ASC,
	[Fila] ASC,
	[Letra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Boleto_Numero]    Script Date: 28/09/2026 20:21:54 ******/
ALTER TABLE [dbo].[Boleto] ADD  CONSTRAINT [UQ_Boleto_Numero] UNIQUE NONCLUSTERED 
(
	[NumeroBoleto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Boleto_Pasajero]    Script Date: 28/09/2026 20:21:54 ******/
ALTER TABLE [dbo].[Boleto] ADD  CONSTRAINT [UQ_Boleto_Pasajero] UNIQUE NONCLUSTERED 
(
	[IdReserva] ASC,
	[DniPasajero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CanalVen__75E3EFCFD8656205]    Script Date: 28/09/2026 20:21:54 ******/
ALTER TABLE [dbo].[CanalVenta] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Cargo_Equipaje]    Script Date: 28/09/2026 20:21:54 ******/
ALTER TABLE [dbo].[CargoExcesoEquipaje] ADD  CONSTRAINT [UQ_Cargo_Equipaje] UNIQUE NONCLUSTERED 
(
	[IdEquipaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CheckIn_Pasajero]    Script Date: 28/09/2026 20:21:54 ******/
ALTER TABLE [dbo].[CheckIn] ADD  CONSTRAINT [UQ_CheckIn_Pasajero] UNIQUE NONCLUSTERED 
(
	[IdReserva] ASC,
	[DniPasajero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_CheckIn_Asiento]    Script Date: 28/09/2026 20:21:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_CheckIn_Asiento] ON [dbo].[CheckIn]
(
	[IdAsiento] ASC
)
WHERE ([IdAsiento] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ClaseVue__75E3EFCF0E568009]    Script Date: 28/09/2026 20:21:54 ******/
ALTER TABLE [dbo].[ClaseVuelo] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Equipaje_CheckIn]    Script Date: 28/09/2026 20:21:54 ******/
ALTER TABLE [dbo].[Equipaje] ADD  CONSTRAINT [UQ_Equipaje_CheckIn] UNIQUE NONCLUSTERED 
(
	[IdCheckIn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EstadoCh__75E3EFCF830510C8]    Script Date: 28/09/2026 20:21:54 ******/
ALTER TABLE [dbo].[EstadoCheckIn] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EstadoRe__75E3EFCF13A14C02]    Script Date: 28/09/2026 20:21:54 ******/
ALTER TABLE [dbo].[EstadoReserva] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Etiqueta_Codigo]    Script Date: 28/09/2026 20:21:54 ******/
ALTER TABLE [dbo].[EtiquetaEquipaje] ADD  CONSTRAINT [UQ_Etiqueta_Codigo] UNIQUE NONCLUSTERED 
(
	[CodigoEquipaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Familia__75E3EFCF97371298]    Script Date: 28/09/2026 20:21:54 ******/
ALTER TABLE [dbo].[Familia] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MedioPag__75E3EFCF42D03879]    Script Date: 28/09/2026 20:21:54 ******/
ALTER TABLE [dbo].[MedioPago] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Modulo__75E3EFCFC72A895A]    Script Date: 28/09/2026 20:21:54 ******/
ALTER TABLE [dbo].[Modulo] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Pago_Reserva]    Script Date: 28/09/2026 20:21:54 ******/
ALTER TABLE [dbo].[Pago] ADD  CONSTRAINT [UQ_Pago_Reserva] UNIQUE NONCLUSTERED 
(
	[IdReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Pago_Transaccion]    Script Date: 28/09/2026 20:21:54 ******/
ALTER TABLE [dbo].[Pago] ADD  CONSTRAINT [UQ_Pago_Transaccion] UNIQUE NONCLUSTERED 
(
	[NumeroTransaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Patente__6A1C4B2F90858EC5]    Script Date: 28/09/2026 20:21:54 ******/
ALTER TABLE [dbo].[Patente] ADD UNIQUE NONCLUSTERED 
(
	[DataKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Patente__75E3EFCF6CE70702]    Script Date: 28/09/2026 20:21:54 ******/
ALTER TABLE [dbo].[Patente] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Reserva_Numero]    Script Date: 28/09/2026 20:21:54 ******/
ALTER TABLE [dbo].[Reserva] ADD  CONSTRAINT [UQ_Reserva_Numero] UNIQUE NONCLUSTERED 
(
	[NumeroReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_ReservaPasajero_Asiento]    Script Date: 28/09/2026 20:21:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_ReservaPasajero_Asiento] ON [dbo].[ReservaPasajero]
(
	[IdAsiento] ASC
)
WHERE ([IdAsiento] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__75E3EFCF09EBC46F]    Script Date: 28/09/2026 20:21:54 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Tarjeta_CheckIn]    Script Date: 28/09/2026 20:21:54 ******/
ALTER TABLE [dbo].[TarjetaEmbarque] ADD  CONSTRAINT [UQ_Tarjeta_CheckIn] UNIQUE NONCLUSTERED 
(
	[IdCheckIn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Tarjeta_Numero]    Script Date: 28/09/2026 20:21:54 ******/
ALTER TABLE [dbo].[TarjetaEmbarque] ADD  CONSTRAINT [UQ_Tarjeta_Numero] UNIQUE NONCLUSTERED 
(
	[NumeroTarjeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TipoAdic__75E3EFCF0EF0F873]    Script Date: 28/09/2026 20:21:54 ******/
ALTER TABLE [dbo].[TipoAdicional] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TipoEven__75E3EFCF859CE5BA]    Script Date: 28/09/2026 20:21:54 ******/
ALTER TABLE [dbo].[TipoEvento] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TipoViaj__75E3EFCF705EB097]    Script Date: 28/09/2026 20:21:54 ******/
ALTER TABLE [dbo].[TipoViaje] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_UserName]    Script Date: 28/09/2026 20:21:54 ******/
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [UQ_UserName] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Vuelo__76E0A7D3F8B93803]    Script Date: 28/09/2026 20:21:54 ******/
ALTER TABLE [dbo].[Vuelo] ADD UNIQUE NONCLUSTERED 
(
	[CodigoVuelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vuelo_Busqueda]    Script Date: 28/09/2026 20:21:54 ******/
CREATE NONCLUSTERED INDEX [IX_Vuelo_Busqueda] ON [dbo].[Vuelo]
(
	[IdOrigen] ASC,
	[IdDestino] ASC,
	[FechaHoraSalida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Boleto] ADD  CONSTRAINT [DF_Boleto_Fecha]  DEFAULT (getdate()) FOR [FechaEmision]
GO
ALTER TABLE [dbo].[CargoExcesoEquipaje] ADD  CONSTRAINT [DF_Cargo_Fecha]  DEFAULT (getdate()) FOR [FechaHoraCobro]
GO
ALTER TABLE [dbo].[CheckIn] ADD  CONSTRAINT [DF_CheckIn_Estado]  DEFAULT ((1)) FOR [IdEstadoCheckIn]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cliente_FechaAlta]  DEFAULT (getdate()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[EVENTOS] ADD  DEFAULT (getdate()) FOR [FechaHora]
GO
ALTER TABLE [dbo].[IntegridadDVH] ADD  DEFAULT (getdate()) FOR [FechaCalculo]
GO
ALTER TABLE [dbo].[IntegridadDVV] ADD  DEFAULT (getdate()) FOR [FechaCalculo]
GO
ALTER TABLE [dbo].[Pago] ADD  CONSTRAINT [DF_Pago_Fecha]  DEFAULT (getdate()) FOR [FechaHoraPago]
GO
ALTER TABLE [dbo].[Reserva] ADD  CONSTRAINT [DF_Reserva_Subtotal]  DEFAULT ((0)) FOR [SubtotalAdicionales]
GO
ALTER TABLE [dbo].[Reserva] ADD  CONSTRAINT [DF_Reserva_Estado]  DEFAULT ((1)) FOR [IdEstadoReserva]
GO
ALTER TABLE [dbo].[Reserva] ADD  CONSTRAINT [DF_Reserva_Fecha]  DEFAULT (getdate()) FOR [FechaRealizacion]
GO
ALTER TABLE [dbo].[Reserva] ADD  CONSTRAINT [DF_Reserva_Canal]  DEFAULT ((1)) FOR [IdCanalVenta]
GO
ALTER TABLE [dbo].[TarjetaEmbarque] ADD  CONSTRAINT [DF_Tarjeta_Fecha]  DEFAULT (getdate()) FOR [FechaHoraEmision]
GO
ALTER TABLE [dbo].[TipoAdicional] ADD  CONSTRAINT [DF_TipoAdicional_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [Bloqueo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [IntentosFallidos]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [DebeCambiarContrasena]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ('es') FOR [Idioma]
GO
ALTER TABLE [dbo].[VueloClase] ADD  CONSTRAINT [DF_VueloClase_Reservados]  DEFAULT ((0)) FOR [AsientosReservados]
GO
ALTER TABLE [dbo].[Asiento]  WITH CHECK ADD  CONSTRAINT [FK_Asiento_Clase] FOREIGN KEY([IdClase])
REFERENCES [dbo].[ClaseVuelo] ([Id])
GO
ALTER TABLE [dbo].[Asiento] CHECK CONSTRAINT [FK_Asiento_Clase]
GO
ALTER TABLE [dbo].[Asiento]  WITH CHECK ADD  CONSTRAINT [FK_Asiento_Vuelo] FOREIGN KEY([IdVuelo])
REFERENCES [dbo].[Vuelo] ([Id])
GO
ALTER TABLE [dbo].[Asiento] CHECK CONSTRAINT [FK_Asiento_Vuelo]
GO
ALTER TABLE [dbo].[Boleto]  WITH CHECK ADD  CONSTRAINT [FK_Boleto_ReservaPasajero] FOREIGN KEY([IdReserva], [DniPasajero])
REFERENCES [dbo].[ReservaPasajero] ([IdReserva], [DniPasajero])
GO
ALTER TABLE [dbo].[Boleto] CHECK CONSTRAINT [FK_Boleto_ReservaPasajero]
GO
ALTER TABLE [dbo].[CargoExcesoEquipaje]  WITH CHECK ADD  CONSTRAINT [FK_Cargo_Equipaje] FOREIGN KEY([IdEquipaje])
REFERENCES [dbo].[Equipaje] ([Id])
GO
ALTER TABLE [dbo].[CargoExcesoEquipaje] CHECK CONSTRAINT [FK_Cargo_Equipaje]
GO
ALTER TABLE [dbo].[CargoExcesoEquipaje]  WITH CHECK ADD  CONSTRAINT [FK_Cargo_Medio] FOREIGN KEY([IdMedioPago])
REFERENCES [dbo].[MedioPago] ([Id])
GO
ALTER TABLE [dbo].[CargoExcesoEquipaje] CHECK CONSTRAINT [FK_Cargo_Medio]
GO
ALTER TABLE [dbo].[CheckIn]  WITH CHECK ADD  CONSTRAINT [FK_CheckIn_Asiento] FOREIGN KEY([IdAsiento])
REFERENCES [dbo].[Asiento] ([Id])
GO
ALTER TABLE [dbo].[CheckIn] CHECK CONSTRAINT [FK_CheckIn_Asiento]
GO
ALTER TABLE [dbo].[CheckIn]  WITH CHECK ADD  CONSTRAINT [FK_CheckIn_Estado] FOREIGN KEY([IdEstadoCheckIn])
REFERENCES [dbo].[EstadoCheckIn] ([Id])
GO
ALTER TABLE [dbo].[CheckIn] CHECK CONSTRAINT [FK_CheckIn_Estado]
GO
ALTER TABLE [dbo].[CheckIn]  WITH CHECK ADD  CONSTRAINT [FK_CheckIn_ReservaPasajero] FOREIGN KEY([IdReserva], [DniPasajero])
REFERENCES [dbo].[ReservaPasajero] ([IdReserva], [DniPasajero])
GO
ALTER TABLE [dbo].[CheckIn] CHECK CONSTRAINT [FK_CheckIn_ReservaPasajero]
GO
ALTER TABLE [dbo].[Equipaje]  WITH CHECK ADD  CONSTRAINT [FK_Equipaje_CheckIn] FOREIGN KEY([IdCheckIn])
REFERENCES [dbo].[CheckIn] ([Id])
GO
ALTER TABLE [dbo].[Equipaje] CHECK CONSTRAINT [FK_Equipaje_CheckIn]
GO
ALTER TABLE [dbo].[EtiquetaEquipaje]  WITH CHECK ADD  CONSTRAINT [FK_Etiqueta_Equipaje] FOREIGN KEY([IdEquipaje])
REFERENCES [dbo].[Equipaje] ([Id])
GO
ALTER TABLE [dbo].[EtiquetaEquipaje] CHECK CONSTRAINT [FK_Etiqueta_Equipaje]
GO
ALTER TABLE [dbo].[EVENTOS]  WITH CHECK ADD  CONSTRAINT [FK_Eventos_Modulo] FOREIGN KEY([IdModulo])
REFERENCES [dbo].[Modulo] ([Id])
GO
ALTER TABLE [dbo].[EVENTOS] CHECK CONSTRAINT [FK_Eventos_Modulo]
GO
ALTER TABLE [dbo].[EVENTOS]  WITH CHECK ADD  CONSTRAINT [FK_Eventos_TipoEvento] FOREIGN KEY([IdTipoEvento])
REFERENCES [dbo].[TipoEvento] ([Id])
GO
ALTER TABLE [dbo].[EVENTOS] CHECK CONSTRAINT [FK_Eventos_TipoEvento]
GO
ALTER TABLE [dbo].[EVENTOS]  WITH CHECK ADD  CONSTRAINT [FK_Eventos_Usuario] FOREIGN KEY([UserName])
REFERENCES [dbo].[Usuario] ([UserName])
GO
ALTER TABLE [dbo].[EVENTOS] CHECK CONSTRAINT [FK_Eventos_Usuario]
GO
ALTER TABLE [dbo].[FamiliaIntegrada]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaIntegrada_Hija] FOREIGN KEY([IdFamiliaHija])
REFERENCES [dbo].[Familia] ([Id])
GO
ALTER TABLE [dbo].[FamiliaIntegrada] CHECK CONSTRAINT [FK_FamiliaIntegrada_Hija]
GO
ALTER TABLE [dbo].[FamiliaIntegrada]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaIntegrada_Padre] FOREIGN KEY([IdFamiliaPadre])
REFERENCES [dbo].[Familia] ([Id])
GO
ALTER TABLE [dbo].[FamiliaIntegrada] CHECK CONSTRAINT [FK_FamiliaIntegrada_Padre]
GO
ALTER TABLE [dbo].[FamiliaPatente]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaPatente_Familia] FOREIGN KEY([IdFamilia])
REFERENCES [dbo].[Familia] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FamiliaPatente] CHECK CONSTRAINT [FK_FamiliaPatente_Familia]
GO
ALTER TABLE [dbo].[FamiliaPatente]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaPatente_Patente] FOREIGN KEY([IdPatente])
REFERENCES [dbo].[Patente] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FamiliaPatente] CHECK CONSTRAINT [FK_FamiliaPatente_Patente]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Medio] FOREIGN KEY([IdMedioPago])
REFERENCES [dbo].[MedioPago] ([Id])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_Medio]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Reserva] FOREIGN KEY([IdReserva])
REFERENCES [dbo].[Reserva] ([Id])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_Reserva]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_CanalVenta] FOREIGN KEY([IdCanalVenta])
REFERENCES [dbo].[CanalVenta] ([Id])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_CanalVenta]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Cliente] FOREIGN KEY([DniCliente])
REFERENCES [dbo].[Cliente] ([DNI])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Cliente]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Estado] FOREIGN KEY([IdEstadoReserva])
REFERENCES [dbo].[EstadoReserva] ([Id])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Estado]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_TipoViaje] FOREIGN KEY([IdTipoViaje])
REFERENCES [dbo].[TipoViaje] ([Id])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_TipoViaje]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_VueloClase] FOREIGN KEY([IdVuelo], [IdClase])
REFERENCES [dbo].[VueloClase] ([IdVuelo], [IdClase])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_VueloClase]
GO
ALTER TABLE [dbo].[ReservaAdicional]  WITH CHECK ADD  CONSTRAINT [FK_ReservaAdicional_Reserva] FOREIGN KEY([IdReserva])
REFERENCES [dbo].[Reserva] ([Id])
GO
ALTER TABLE [dbo].[ReservaAdicional] CHECK CONSTRAINT [FK_ReservaAdicional_Reserva]
GO
ALTER TABLE [dbo].[ReservaAdicional]  WITH CHECK ADD  CONSTRAINT [FK_ReservaAdicional_Tipo] FOREIGN KEY([IdTipoAdicional])
REFERENCES [dbo].[TipoAdicional] ([Id])
GO
ALTER TABLE [dbo].[ReservaAdicional] CHECK CONSTRAINT [FK_ReservaAdicional_Tipo]
GO
ALTER TABLE [dbo].[ReservaPasajero]  WITH CHECK ADD  CONSTRAINT [FK_ReservaPasajero_Asiento] FOREIGN KEY([IdAsiento])
REFERENCES [dbo].[Asiento] ([Id])
GO
ALTER TABLE [dbo].[ReservaPasajero] CHECK CONSTRAINT [FK_ReservaPasajero_Asiento]
GO
ALTER TABLE [dbo].[ReservaPasajero]  WITH CHECK ADD  CONSTRAINT [FK_ReservaPasajero_Pasajero] FOREIGN KEY([DniPasajero])
REFERENCES [dbo].[Pasajero] ([DNI])
GO
ALTER TABLE [dbo].[ReservaPasajero] CHECK CONSTRAINT [FK_ReservaPasajero_Pasajero]
GO
ALTER TABLE [dbo].[ReservaPasajero]  WITH CHECK ADD  CONSTRAINT [FK_ReservaPasajero_Reserva] FOREIGN KEY([IdReserva])
REFERENCES [dbo].[Reserva] ([Id])
GO
ALTER TABLE [dbo].[ReservaPasajero] CHECK CONSTRAINT [FK_ReservaPasajero_Reserva]
GO
ALTER TABLE [dbo].[RolFamilia]  WITH CHECK ADD  CONSTRAINT [FK_RolFamilia_Familia] FOREIGN KEY([IdFamilia])
REFERENCES [dbo].[Familia] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolFamilia] CHECK CONSTRAINT [FK_RolFamilia_Familia]
GO
ALTER TABLE [dbo].[RolFamilia]  WITH CHECK ADD  CONSTRAINT [FK_RolFamilia_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolFamilia] CHECK CONSTRAINT [FK_RolFamilia_Rol]
GO
ALTER TABLE [dbo].[RolPatente]  WITH CHECK ADD  CONSTRAINT [FK_RolPatente_Patente] FOREIGN KEY([IdPatente])
REFERENCES [dbo].[Patente] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolPatente] CHECK CONSTRAINT [FK_RolPatente_Patente]
GO
ALTER TABLE [dbo].[RolPatente]  WITH CHECK ADD  CONSTRAINT [FK_RolPatente_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolPatente] CHECK CONSTRAINT [FK_RolPatente_Rol]
GO
ALTER TABLE [dbo].[TarjetaEmbarque]  WITH CHECK ADD  CONSTRAINT [FK_Tarjeta_CheckIn] FOREIGN KEY([IdCheckIn])
REFERENCES [dbo].[CheckIn] ([Id])
GO
ALTER TABLE [dbo].[TarjetaEmbarque] CHECK CONSTRAINT [FK_Tarjeta_CheckIn]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Roles] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Roles]
GO
ALTER TABLE [dbo].[Vuelo]  WITH CHECK ADD  CONSTRAINT [FK_Vuelo_Aerolinea] FOREIGN KEY([IdAerolinea])
REFERENCES [dbo].[Aerolinea] ([Id])
GO
ALTER TABLE [dbo].[Vuelo] CHECK CONSTRAINT [FK_Vuelo_Aerolinea]
GO
ALTER TABLE [dbo].[Vuelo]  WITH CHECK ADD  CONSTRAINT [FK_Vuelo_Destino] FOREIGN KEY([IdDestino])
REFERENCES [dbo].[Aeropuerto] ([Id])
GO
ALTER TABLE [dbo].[Vuelo] CHECK CONSTRAINT [FK_Vuelo_Destino]
GO
ALTER TABLE [dbo].[Vuelo]  WITH CHECK ADD  CONSTRAINT [FK_Vuelo_Origen] FOREIGN KEY([IdOrigen])
REFERENCES [dbo].[Aeropuerto] ([Id])
GO
ALTER TABLE [dbo].[Vuelo] CHECK CONSTRAINT [FK_Vuelo_Origen]
GO
ALTER TABLE [dbo].[VueloClase]  WITH CHECK ADD  CONSTRAINT [FK_VueloClase_Clase] FOREIGN KEY([IdClase])
REFERENCES [dbo].[ClaseVuelo] ([Id])
GO
ALTER TABLE [dbo].[VueloClase] CHECK CONSTRAINT [FK_VueloClase_Clase]
GO
ALTER TABLE [dbo].[VueloClase]  WITH CHECK ADD  CONSTRAINT [FK_VueloClase_Vuelo] FOREIGN KEY([IdVuelo])
REFERENCES [dbo].[Vuelo] ([Id])
GO
ALTER TABLE [dbo].[VueloClase] CHECK CONSTRAINT [FK_VueloClase_Vuelo]
GO
ALTER TABLE [dbo].[Asiento]  WITH CHECK ADD  CONSTRAINT [CK_Asiento_Ubicacion] CHECK  (([Ubicacion]=N'Pasillo' OR [Ubicacion]=N'Central' OR [Ubicacion]=N'Ventana'))
GO
ALTER TABLE [dbo].[Asiento] CHECK CONSTRAINT [CK_Asiento_Ubicacion]
GO
ALTER TABLE [dbo].[CargoExcesoEquipaje]  WITH CHECK ADD  CONSTRAINT [CK_Cargo_Kilos] CHECK  (([KilosExceso]>(0)))
GO
ALTER TABLE [dbo].[CargoExcesoEquipaje] CHECK CONSTRAINT [CK_Cargo_Kilos]
GO
ALTER TABLE [dbo].[Equipaje]  WITH CHECK ADD  CONSTRAINT [CK_Equipaje_Bultos] CHECK  (([CantidadBultos]>(0)))
GO
ALTER TABLE [dbo].[Equipaje] CHECK CONSTRAINT [CK_Equipaje_Bultos]
GO
ALTER TABLE [dbo].[Equipaje]  WITH CHECK ADD  CONSTRAINT [CK_Equipaje_Peso] CHECK  (([PesoTotalKg]>(0)))
GO
ALTER TABLE [dbo].[Equipaje] CHECK CONSTRAINT [CK_Equipaje_Peso]
GO
ALTER TABLE [dbo].[FamiliaIntegrada]  WITH CHECK ADD  CONSTRAINT [CK_FamiliaIntegrada_NoAutoref] CHECK  (([IdFamiliaPadre]<>[IdFamiliaHija]))
GO
ALTER TABLE [dbo].[FamiliaIntegrada] CHECK CONSTRAINT [CK_FamiliaIntegrada_NoAutoref]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [CK_Pago_Importe] CHECK  (([ImporteTotalAbonado]>(0)))
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [CK_Pago_Importe]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [CK_Reserva_Cantidad] CHECK  (([CantidadPasajeros]>(0)))
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [CK_Reserva_Cantidad]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [CK_Reserva_FechaRegreso] CHECK  (([IdTipoViaje]=(1) AND [FechaRegreso] IS NULL OR [IdTipoViaje]=(2) AND [FechaRegreso] IS NOT NULL))
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [CK_Reserva_FechaRegreso]
GO
ALTER TABLE [dbo].[ReservaAdicional]  WITH CHECK ADD  CONSTRAINT [CK_ReservaAdicional_Cantidad] CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[ReservaAdicional] CHECK CONSTRAINT [CK_ReservaAdicional_Cantidad]
GO
ALTER TABLE [dbo].[ReservaAdicional]  WITH CHECK ADD  CONSTRAINT [CK_ReservaAdicional_Costo] CHECK  (([CostoUnitario]>=(0)))
GO
ALTER TABLE [dbo].[ReservaAdicional] CHECK CONSTRAINT [CK_ReservaAdicional_Costo]
GO
ALTER TABLE [dbo].[Vuelo]  WITH CHECK ADD  CONSTRAINT [CK_Vuelo_CostoKilo] CHECK  (([CostoKiloExceso]>=(0)))
GO
ALTER TABLE [dbo].[Vuelo] CHECK CONSTRAINT [CK_Vuelo_CostoKilo]
GO
ALTER TABLE [dbo].[Vuelo]  WITH CHECK ADD  CONSTRAINT [CK_Vuelo_Horario] CHECK  (([FechaHoraLlegada]>[FechaHoraSalida]))
GO
ALTER TABLE [dbo].[Vuelo] CHECK CONSTRAINT [CK_Vuelo_Horario]
GO
ALTER TABLE [dbo].[Vuelo]  WITH CHECK ADD  CONSTRAINT [CK_Vuelo_Ruta] CHECK  (([IdOrigen]<>[IdDestino]))
GO
ALTER TABLE [dbo].[Vuelo] CHECK CONSTRAINT [CK_Vuelo_Ruta]
GO
ALTER TABLE [dbo].[VueloClase]  WITH CHECK ADD  CONSTRAINT [CK_VueloClase_Capacidad] CHECK  (([CapacidadAsientos]>=(0)))
GO
ALTER TABLE [dbo].[VueloClase] CHECK CONSTRAINT [CK_VueloClase_Capacidad]
GO
ALTER TABLE [dbo].[VueloClase]  WITH CHECK ADD  CONSTRAINT [CK_VueloClase_Cupo] CHECK  (([AsientosReservados]>=(0) AND [AsientosReservados]<=[CapacidadAsientos]))
GO
ALTER TABLE [dbo].[VueloClase] CHECK CONSTRAINT [CK_VueloClase_Cupo]
GO
ALTER TABLE [dbo].[VueloClase]  WITH CHECK ADD  CONSTRAINT [CK_VueloClase_Franquicia] CHECK  (([FranquiciaEquipajeKg]>=(0)))
GO
ALTER TABLE [dbo].[VueloClase] CHECK CONSTRAINT [CK_VueloClase_Franquicia]
GO
ALTER TABLE [dbo].[VueloClase]  WITH CHECK ADD  CONSTRAINT [CK_VueloClase_Precio] CHECK  (([PrecioBase]>=(0)))
GO
ALTER TABLE [dbo].[VueloClase] CHECK CONSTRAINT [CK_VueloClase_Precio]
GO
USE [master]
GO
